@import 'variables';

// *****
// Verical Line
// *****
.vertical-line {
	width: 50%;
	height: 125px;
	border-color: rgba($color-text-body-on-dark, 0.1);
	border-right: solid 1px;
	top: 0;
}

// *****
// 2 Grid
// *****
.two-grid {
	display: grid;
	align-items: center;
	justify-content: center;
	justify-items: center;
	grid-template-columns: 45% 45%;
	grid-column-gap: 1%;
	grid-template-rows: minmax(min-content, 600px);
	grid-template-areas:
		"left right";

	@include screen-format(phone) {
		grid-template-columns: 90%;
		grid-row-gap: 1%;
		grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
		grid-template-areas:
			"left"
			"right";
	}

	@include screen-format(nano) {
		grid-template-columns: 90%;
		grid-row-gap: 1%;
		grid-template-rows: repeat(2, minmax(min-content, max-content));
		grid-template-areas:
			"left"
			"right";
	}

	img {
		max-width: 80%;
		text-align: center;
		display: block;
		margin: 0 auto;
	}

	p {
		position: relative;
		line-height: 2rem;

		span {
			display: block;
			margin: 18px 9px 0 0;
			font-size: 2.625rem;
			font-weight: 900;
			color: $color-secondary;
			position: relative;
			float: left;

			&:before {
				display: block;
				content: url('../img/fancy-text-background.png');
				position: absolute;
				top: -10px;
			}

			&:after {
				display: block;
				content: 'L';
				color: transparent;
				-webkit-text-stroke: 2px #343434;
				position: absolute;
				left: 3px;
				top: 4px;
			}
		}

		strong {
			font-size: 0.8125rem;
			font-weight: 900;
			line-height: 1rem;
			text-transform: uppercase;
		}
	}
}

// *****
// 3 Grid
// *****

.about.hiring > .three-grid{
	display: grid;
	width: 100vw;
	justify-content: center;
	align-content: center;
	// grid-template-columns: This is modified on individual grids
	// grid-template-rows:  This is modified on individual grids
}

// *****
// 4 Grid
// *****
.four-grid {
	display: grid;
	align-items: center;
	justify-content: space-evenly;
	grid-template-rows: minmax(min-content, auto);
	grid-template-areas:
		"one two three four";
	margin: 0 0 10vmin;

	@include screen-format(tablet) {
		grid-template-areas:
			"one two"
			"three four"
	}


	@include screen-format(phone) {
		grid-template-areas:
			"one"
			"two"
			"three"
			"four";
	}

	@include screen-format(nano) {
		grid-template-areas:
			"one"
			"two"
			"three"
			"four";
	}
	div {
		height: 100%;
		padding: 0 3vmin;

		&:nth-child(1) {
			grid-area: one;
		}

		&:nth-child(2) {
			grid-area: two;
		}

		&:nth-child(3) {
			grid-area: three;
		}

		&:nth-child(4) {
			grid-area: four;
		}
	}
}

// *****
// 3x2 Grid
// *****
.three-by-two-grid {
	display: grid;
	justify-content: space-evenly;
	grid-template-areas:
		"top-left top-center top-right"
		"bottom-left bottom-center bottom-right";

	@include screen-format(tablet) {
		grid-template-areas:
		 	"top-left top-center"
			"top-right bottom-left"
			"bottom-center bottom-right";
	}

	@include screen-format(phone) {
		grid-template-areas:
			"top-left"
			"top-center"
			"top-right"
			"bottom-left"
			"bottom-center"
			"bottom-right";
	}

	@include screen-format(nano) {
		grid-template-areas:
			"top-left"
			"top-center"
			"top-right"
			"bottom-left"
			"bottom-center"
			"bottom-right";
	}

	div {
		&:nth-child(1) {
			grid-area: top-left;
		}

		&:nth-child(2) {
			grid-area: top-center;
		}

		&:nth-child(3) {
			grid-area: top-right;
		}

		&:nth-child(4) {
			grid-area: bottom-left;
		}

		&:nth-child(5) {
			grid-area: bottom-center;
		}

		&:nth-child(6) {
			grid-area: bottom-right;
		}
	}
}

// *****
// Post Grid
// *****
.post-grid {
	background-color: $color-page-background;
	display: grid;
	justify-content: center;
	justify-items: center;
	grid-template-columns: repeat(2, minmax(min-content, 90vmin));
	grid-template-rows: 525px;
	grid-column-gap: 1%;
	padding-top: 25px;

	@include screen-format(tablet) {
		grid-template-columns: repeat(2, minmax(min-content, 65vmin));
	}

	@include screen-format(phone) {
		grid-template-columns: 90%;
		grid-template-rows: minmax(max-content, 100%);
	}

	@include screen-format(nano) {
		grid-template-columns: 90%;
		grid-template-rows: minmax(max-content, 100%);
	}

	.post {
		display: flex;
		flex-flow: column nowrap;

		.meta {
			font-family: $sans-serif;
			color: $color-secondary;
			font-size: 0.6875rem;
			line-height: 0.6875rem;
			font-weight: 900;
			text-transform: uppercase;
			margin-bottom: 25px;
		}

		h2 {
			color: $color-text-body;
			font-size: 1.2rem;
			line-height: 1.5rem;
			font-weight: 900;
			width: 75%;
			margin-bottom: 25px;
		}

		.byline {
			font-family: $sans-serif;
			color: $color-tertiary;
			font-size: 0.8125rem;
			line-height: 0.875rem;
			font-weight: bold;
			font-style: italic;
			margin-bottom: 25px;
		}

		img {
			width: 30%;
			height: auto;
			margin-bottom: 25px;
		}

		p {
			color: $color-text-body;
			line-height: 27px;
			margin-bottom: 25px;
		}

		a {
			font-family: $sans-serif;
			margin-left: 5px;
			font-size: 0.6875rem;
			line-height: 0.6875rem;
			font-weight: 900;
			text-transform: uppercase;
		}
	}
}



// *****
// Blockquote block
// *****

.blockquote {
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	min-height: 60vh;
	text-align: center;

	h3 {
		width: 80%;
		margin: 5vh auto;

		@include screen-format(phone){
			width: 100%;
			padding: 0 25px;
		}

		@include screen-format(nano){
			width: 100%;
			padding: 0 25px;
		}
	}

	blockquote {
		width: 90%;
	}
}

// *****
// Slider block
// *****

.swiper-container {

	.swiper-slide {
		width: 100%;
		color: $color-text-body-on-dark;

		.slide-wrapper {
			width: 90%;
			margin: 5% auto;
			border: 2px solid $color-text-body-on-dark;
			display: grid;
			justify-content: center;
			align-items: center;
			grid-template-columns: 60% 40%;
			grid-template-rows: minmax(350px, max-content);
			grid-template-areas:
				"left right";

			@include screen-format(phone) {
				grid-template-columns: 90%;
				grid-template-rows: repeat(2, minmax(75vmin, auto));
				grid-template-areas:
					"left"
					"right";
			}

			@include screen-format(nano) {
				grid-template-columns: 90%;
				grid-template-rows: repeat(2, minmax(75vmin, auto));
				grid-template-areas:
					"left"
					"right";
			}

			.image {
				background: no-repeat center bottom;
				background-size: contain;
				grid-area: right;
				height: 100%;

				@include screen-format(phone) {
					height: 75vmin;
				}
				@include screen-format(nano) {
					height: 75vmin;
				}
			}

			.content {
				grid-area: left;
				padding: 0 0 0 5%;

				blockquote {
					margin: 5px 0 20px 0;
					font-size: 1.375rem;
					line-height: 2.125rem;
					font-style: italic;
					display: block;
					text-align: justify;
				}

				h3 {
					font-family: $sans-serif;
					text-align: right;
					font-size: 1.5rem;
					line-height: 2rem;
					position: relative;
					top: -3px;
					display: block;
					font-weight: 900;
					margin: 0;
				}

				h4 {
					font-family: $sans-serif;
					text-align: right;
					font-size: 0.8125rem;
					line-height: 2rem;
					text-transform: uppercase;
					font-weight: 200;
					letter-spacing: 1px;
					positon: relative;
					top: -7px;

					strong {
						font-weight: 900;
					}
				}
			}
		}
	}
}
