@import 'variables';

@include establish-baseline(16px);


html {
	overflow-x: hidden;
}

body {
	position: relative;
	font-family: 'Andada', 'Helvetics Neue', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Libre Franklin';
	font-weight: 600;
	margin: 0 0 20px 0;
}

h1 {
	font-size: 3.75rem;
	line-height: 1;
}

h2 {
	font-size: 2.5rem;
	line-height: 3.125rem;
	margin: 25px 0;

	&.large {
		font-family: $sans-serif;
		font-size: 2.813rem;
		font-weight: 100;
		line-height: 3.125rem;
		letter-spacing: 0.0625rem;
		text-transform: uppercase;

		@include screen-format(phone) {
			font-size: 1.6rem;
		}

		@include screen-format(nano) {
			font-size: 1.6rem;
		}

		span {
			font-weight: 700;
			font-style: italic;
			letter-spacing: 0;
			background: transparent url('../img/fancy-underline.png') repeat-x left bottom;
		}
	}
}

h3 {
	font-size: 1.5rem;

	&.small {
		font-size: 0.75rem;
		text-transform: uppercase;
	}
}

p {
	line-height: 2;
}

button, input[type="submit"], input[type="button"], input[type="reset"] {
	padding: 10px 22px;
	margin: 0 0 25px 0;
	border: none;
	color: $color-text-body-on-dark;
	background: $color-primary;
	font-size: 1rem;
	line-height: 1.688rem;
	font-family: "Andada", "Helvetica Neue", "Helvetica", arial, sans-serif;
	font-weight: 700;
	cursor: pointer;
	text-align: center;
}

button:focus {
	outline: none;
}

button:hover, input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover {
	text-decoration: none;
	opacity: 0.66;
}

input, textarea, select, label, span.ns-form-label {
	margin: 0 0 25px 0;
	font-family: "Andada", "Helvetica Neue", helvetica, arial, sans-serif;
	font-size: 1rem;
	line-height: 1.688rem;
	color: #404040;
	-webkit-font-smoothing: antialiased;
}

input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, select:focus, textarea:focus {
	outline: 0;
	-moz-appearance: none;
	border-color: #20484a;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-mox-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea {
	padding: 9px;
	border: 1px solid #363636;
	background: transparent;

}

a {
	cursor: pointer;
	text-decoration: none;
	color: $color-primary;
}

blockquote {
	font-size: 2.188rem;
	font-family: 'Libre Franklin', 'Helvetica Neue', helvetica, arial, sans-serif;
	line-height: 3.125rem;
	font-weight: 100;
	font-style: italic;
	text-align: center;
	color: $color-text-body-on-dark;
	margin: 0 auto 10vh auto;
}

.background-video {
	display: block;
	min-width: 100vw;
	min-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -100;

	@include screen-format(phone) {
		display: none;
	}

	@include screen-format(nano) {
		display: none;
	}
}

.mobile-image {
	background: url('../img/dino-bg-v2.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	display: block;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index:-100;

	@include screen-format(monitor) {
		display: none;
	}

	@include screen-format(laptop) {
		display: none;
	}

	@include screen-format(tablet) {
		display: none;
	}
}

section {
	width: 100vw;
	margin: 0 auto;
}
