// *****
// Color Variables
// *****
$color-primary: #ff6257;
$color-secondary: #abb910;
$color-tertiary: #ababab;

$color-accent: #20484a;

$color-text-anchor: #ff6257;
$color-text-header: #000000;
$color-text-body: #343434;

$color-text-anchor-on-dark: #20484a;
$color-text-header-on-dark: #ffffff;
$color-text-body-on-dark: #ffffff;

$color-line: #dedede;

$color-page-background: rgba(250, 250, 250, .95);
$color-page-background-dark: rgba(25, 25, 25, 0.3);

$color-top-bar-background: #191818;
$color-top-bar-text: #ffffff;

$color-footer-background: #191818;
$color-footer-text: #ffffff;

// *****
// Dimention Variables
// *****
$height-top-bar: 15vmin;
$height-top-bar-collapsed: 0;
$height-footer: 0;

// *****
// Font Variables
// *****
$font-primary-text-size: 16px;
$font-primary-text-line-height: 18px;

$sans-serif: 'Libre Franklin', 'Helvetica Neue', helvetica, arial, sans-serif;

// *****
// Nav Padding Variables
// *****
$default-nav-padding: 5vmin;

// *****
//Media Size Breakpoints
// *****

$monitor-breakpoint: 1200px;
$laptop-breakpoint: 980px;
$tablet-breakpoint: 768px;
$phone-breakpoint: 480px;

@mixin screen-format($media-type) {
  @if $media-type == monitor {
    @media (min-width: $monitor-breakpoint) { @content; }
  }
  @else if $media-type == laptop {
    @media (min-width: $laptop-breakpoint) and (max-width: $monitor-breakpoint - 1) { @content; }
  }
  @else if $media-type == tablet {
    @media (min-width: $tablet-breakpoint) and (max-width: $laptop-breakpoint - 1) { @content; }
  }
  @else if $media-type == phone {
    @media (min-width: $phone-breakpoint) and (max-width: $tablet-breakpoint - 1) { @content; }
  }
  @else if $media-type == nano {
    @media (max-width: $phone-breakpoint - 1) { @content; }
  }
}
