/* ==========================================================================
   Project-specific styles
   ========================================================================== */
/* Media queries */

$mobile: (max-width: 540px);
$mobileTablet: (max-width: 960px);
$tablet: (min-width: 541px) and (max-width: 960px);
$tabletDesktop: (min-width: 541px);
$desktop: (min-width: 961px);

//Components
@import 'compass/reset';
@import 'compass/support';
@import 'compass/typography';
@import 'compass/css3';
@import 'swiper';
@import 'fonts';

@import 'extends';

@import 'components/button';
@import 'components/footer';
@import 'components/form';
@import 'components/modal';
@import 'components/navigation';
@import 'components/notifications';
@import 'components/table';
@import 'components/throbber';
@import 'components/warningPopup';

@import 'hamburgers/hamburgers';

@import 'ttech';
@import 'pages/pages';
