/* ==========================================================================
   Project-specific styles
   ========================================================================== */
/* Media queries */
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:100,400,500,600");
/* line 5, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* This stylesheet generated by Transfonter (https://transfonter.org) on August 4, 2017 8:52 PM */
@font-face {
  font-family: 'Andada';
  src: url("fonts/hinted-subset-Andada-Regular.eot");
  src: url("fonts/hinted-subset-Andada-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-Andada-Regular.woff") format("woff"), url("fonts/hinted-subset-Andada-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Andada';
  src: url("fonts/hinted-subset-Andada-Italic.eot");
  src: url("fonts/hinted-subset-Andada-Italic.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-Andada-Italic.woff") format("woff"), url("fonts/hinted-subset-Andada-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Antonio';
  src: url("fonts/hinted-subset-Antonio-Light.eot");
  src: url("fonts/hinted-subset-Antonio-Light.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-Antonio-Light.woff") format("woff"), url("fonts/hinted-subset-Antonio-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Andada';
  src: url("fonts/hinted-subset-Andada-Bold.eot");
  src: url("fonts/hinted-subset-Andada-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-Andada-Bold.woff") format("woff"), url("fonts/hinted-subset-Andada-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Antonio';
  src: url("fonts/hinted-subset-Antonio-Bold.eot");
  src: url("fonts/hinted-subset-Antonio-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-Antonio-Bold.woff") format("woff"), url("fonts/hinted-subset-Antonio-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SS Symbolicons';
  src: url("fonts/hinted-subset-SSSymboliconsLine.eot");
  src: url("fonts/hinted-subset-SSSymboliconsLine.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSSymboliconsLine.woff") format("woff"), url("fonts/hinted-subset-SSSymboliconsLine.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SS Symbolicons';
  src: url("fonts/hinted-subset-SSSymboliconsBlock.eot");
  src: url("fonts/hinted-subset-SSSymboliconsBlock.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSSymboliconsBlock.woff") format("woff"), url("fonts/hinted-subset-SSSymboliconsBlock.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SS Social';
  src: url("fonts/hinted-subset-SSSocialCircle.eot");
  src: url("fonts/hinted-subset-SSSocialCircle.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSSocialCircle.woff") format("woff"), url("fonts/hinted-subset-SSSocialCircle.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SS Social';
  src: url("fonts/hinted-subset-SSSocialRegular.eot");
  src: url("fonts/hinted-subset-SSSocialRegular.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSSocialRegular.woff") format("woff"), url("fonts/hinted-subset-SSSocialRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SS Standard';
  src: url("fonts/hinted-subset-SSStandard.eot");
  src: url("fonts/hinted-subset-SSStandard.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSStandard.woff") format("woff"), url("fonts/hinted-subset-SSStandard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Andada';
  src: url("fonts/hinted-subset-Andada-BoldItalic.eot");
  src: url("fonts/hinted-subset-Andada-BoldItalic.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-Andada-BoldItalic.woff") format("woff"), url("fonts/hinted-subset-Andada-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Antonio';
  src: url("fonts/hinted-subset-Antonio-Regular.eot");
  src: url("fonts/hinted-subset-Antonio-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-Antonio-Regular.woff") format("woff"), url("fonts/hinted-subset-Antonio-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SS Symbolicons';
  src: url("fonts/hinted-subset-SSSymboliconsBlock.eot");
  src: url("fonts/hinted-subset-SSSymboliconsBlock.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSSymboliconsBlock.woff") format("woff"), url("fonts/hinted-subset-SSSymboliconsBlock.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SS Standard';
  src: url("fonts/hinted-subset-SSStandard.eot");
  src: url("fonts/hinted-subset-SSStandard.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSStandard.woff") format("woff"), url("fonts/hinted-subset-SSStandard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SS Social';
  src: url("fonts/hinted-subset-SSSocialRegular.eot");
  src: url("fonts/hinted-subset-SSSocialRegular.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSSocialRegular.woff") format("woff"), url("fonts/hinted-subset-SSSocialRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SS Social';
  src: url("fonts/hinted-subset-SSSocialCircle.eot");
  src: url("fonts/hinted-subset-SSSocialCircle.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSSocialCircle.woff") format("woff"), url("fonts/hinted-subset-SSSocialCircle.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SS Symbolicons';
  src: url("fonts/hinted-subset-SSSymboliconsLine.eot");
  src: url("fonts/hinted-subset-SSSymboliconsLine.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSSymboliconsLine.woff") format("woff"), url("fonts/hinted-subset-SSSymboliconsLine.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SS Symbolicons';
  src: url("fonts/hinted-subset-SSSymboliconsBlock.eot");
  src: url("fonts/hinted-subset-SSSymboliconsBlock.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSSymboliconsBlock.woff") format("woff"), url("fonts/hinted-subset-SSSymboliconsBlock.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Antonio';
  src: url("fonts/hinted-subset-Antonio-Light.eot");
  src: url("fonts/hinted-subset-Antonio-Light.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-Antonio-Light.woff") format("woff"), url("fonts/hinted-subset-Antonio-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SS Standard';
  src: url("fonts/hinted-subset-SSStandard.eot");
  src: url("fonts/hinted-subset-SSStandard.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSStandard.woff") format("woff"), url("fonts/hinted-subset-SSStandard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SS Social';
  src: url("fonts/hinted-subset-SSSocialRegular.eot");
  src: url("fonts/hinted-subset-SSSocialRegular.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSSocialRegular.woff") format("woff"), url("fonts/hinted-subset-SSSocialRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Antonio';
  src: url("fonts/hinted-subset-Antonio-Bold.eot");
  src: url("fonts/hinted-subset-Antonio-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-Antonio-Bold.woff") format("woff"), url("fonts/hinted-subset-Antonio-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Antonio';
  src: url("fonts/hinted-subset-Antonio-Regular.eot");
  src: url("fonts/hinted-subset-Antonio-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-Antonio-Regular.woff") format("woff"), url("fonts/hinted-subset-Antonio-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SS Symbolicons';
  src: url("fonts/hinted-subset-SSSymboliconsLine.eot");
  src: url("fonts/hinted-subset-SSSymboliconsLine.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSSymboliconsLine.woff") format("woff"), url("fonts/hinted-subset-SSSymboliconsLine.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SS Social';
  src: url("fonts/hinted-subset-SSSocialCircle.eot");
  src: url("fonts/hinted-subset-SSSocialCircle.eot?#iefix") format("embedded-opentype"), url("fonts/hinted-subset-SSSocialCircle.woff") format("woff"), url("fonts/hinted-subset-SSSocialCircle.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/* line 7, ../scss/_extends.scss */
.three-grid {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 26.66% 26.66% 26.66%;
  grid-column-gap: 1%;
  grid-template-rows: minmax(min-content, 500px);
  grid-template-areas: "left center right";
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 7, ../scss/_extends.scss */
  .three-grid {
    grid-template-columns: 90%;
    grid-row-gap: 1%;
    grid-template-areas: "left" "center" "right";
  }
}
@media (max-width: 479px) {
  /* line 7, ../scss/_extends.scss */
  .three-grid {
    grid-template-columns: 90%;
    grid-row-gap: 1%;
    grid-template-areas: "left" "center" "right";
  }
}

/* line 36, ../scss/_extends.scss */
.statement {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  min-height: 60vh;
  text-align: center;
}
/* line 43, ../scss/_extends.scss */
.statement .vertical-line {
  width: 50%;
  height: 125px;
  border-color: rgba(255, 255, 255, 0.8);
  border-right: solid 1px;
  top: 0;
}
/* line 51, ../scss/_extends.scss */
.statement h2 {
  width: 80%;
  margin: 5vh auto;
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 51, ../scss/_extends.scss */
  .statement h2 {
    width: 100%;
    padding: 0 25px;
  }
}
@media (max-width: 479px) {
  /* line 51, ../scss/_extends.scss */
  .statement h2 {
    width: 100%;
    padding: 0 25px;
  }
}

/* line 3, ../scss/components/_button.scss */
button {
  display: block;
  margin: 0 15px 15px 0;
  padding: 10px 22px;
  border: none;
  color: #ffffff;
  background: #ff6257;
  font-size: 1rem;
  line-height: 1.688rem;
  font-family: 'Andada', Helvetica, arial, sans-serif;
  cursor: pointer;
  text-align: center;
  position: relative;
}
/* line 17, ../scss/components/_button.scss */
button:hover {
  text-decoration: none;
  opacity: 0.6;
}
/* line 22, ../scss/components/_button.scss */
button.line {
  padding: 8px 20px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  background: transparent;
  color: #ffffff;
}
/* line 29, ../scss/components/_button.scss */
button.large {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
  font-family: 'Libre Franklin', Helvetica, arial, sans-serif;
}

/* line 3, ../scss/components/_navigation.scss */
nav {
  height: 10vh;
  background: rgba(25, 24, 24, 0.25);
  color: #ffffff;
  position: absolute;
  width: 100%;
  margin-top: -60px;
}
/* line 11, ../scss/components/_navigation.scss */
nav ol {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style: none;
}
/* line 17, ../scss/components/_navigation.scss */
nav ol li {
  flex: 0 1 auto;
  text-transform: uppercase;
}
/* line 21, ../scss/components/_navigation.scss */
nav ol li:nth-child(1) {
  width: 20%;
}
/* line 24, ../scss/components/_navigation.scss */
nav ol li:not(.site-logo) {
  padding: 23px 0;
}
/* line 27, ../scss/components/_navigation.scss */
nav ol li:last-child {
  width: 30%;
}
/* line 31, ../scss/components/_navigation.scss */
nav ol li a {
  text-decoration: none;
  font-family: 'Libre Franklin';
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.8);
}

/* line 3, ../scss/_ttech.scss */
body {
  position: relative;
  font-family: 'Andada', 'Helvetics Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/* line 9, ../scss/_ttech.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Franklin';
  font-weight: 600;
  margin: 0 0 20px 0;
}

/* line 20, ../scss/_ttech.scss */
h1 {
  font-size: 3.75rem;
}

/* line 24, ../scss/_ttech.scss */
h2 {
  font-size: 1.7rem;
}
/* line 27, ../scss/_ttech.scss */
h2.small {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/* line 33, ../scss/_ttech.scss */
h3 {
  font-size: 1.125rem;
}

/* line 37, ../scss/_ttech.scss */
blockquote {
  font-size: 2.188rem;
  font-family: 'Libre Franklin', 'Helvetica Neue', helvetica, arial, sans-serif;
  line-height: 3.125rem;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  color: #ffffff;
  width: 80%;
  margin: 0 auto 10vh auto;
}

/* line 49, ../scss/_ttech.scss */
.background-video {
  display: block;
  min-width: 100vw;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

/* line 59, ../scss/_ttech.scss */
section {
  width: 100vw;
  margin: 0 auto;
}

/* line 3, ../scss/pages/_homepage.scss */
.homepage {
  color: #ffffff;
}
/* line 6, ../scss/pages/_homepage.scss */
.homepage.header {
  height: 100vh;
  justify-content: center;
  position: relative;
  margin: 60px 0 30px 0;
  display: grid;
  align-items: center;
  grid-template-columns: 40% 40%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas: "title sidebar1" "title sidebar2" "title sidebar3" "title sidebar4";
}
@media (max-width: 479px) {
  /* line 6, ../scss/pages/_homepage.scss */
  .homepage.header {
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: "title" "sidebar1" "sidebar2" "sidebar3" "sidebar4";
  }
}
/* line 32, ../scss/pages/_homepage.scss */
.homepage.header .title {
  grid-area: title;
}
/* line 35, ../scss/pages/_homepage.scss */
.homepage.header .title .button-wrapper {
  display: flex;
  flex-flow: row wrap;
}
/* line 41, ../scss/pages/_homepage.scss */
.homepage.header .service {
  grid-area: sidebar;
  border-left: 4px solid rgba(255, 255, 255, 0.25);
  padding: 0 0 3px 25px;
}
/* line 46, ../scss/pages/_homepage.scss */
.homepage.header .service h3 {
  margin: 0 0 3px 0;
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 900;
  text-transform: none;
}
/* line 54, ../scss/pages/_homepage.scss */
.homepage.header .service p {
  font-size: 0.875rem;
  line-height: 1.5rem;
}
/* line 58, ../scss/pages/_homepage.scss */
.homepage.header .service p a {
  margin: 0 0 0 5px;
  font-family: 'Libre Franklin', helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.625rem;
  line-height: 1.5rem;
  font-weight: 1.5rem;
  text-decoration: underline;
  color: #ffffff;
}
/* line 70, ../scss/pages/_homepage.scss */
.homepage.header .service:nth-child(2) {
  grid-area: sidebar1;
}
/* line 73, ../scss/pages/_homepage.scss */
.homepage.header .service:nth-child(3) {
  grid-area: sidebar2;
}
/* line 76, ../scss/pages/_homepage.scss */
.homepage.header .service:nth-child(4) {
  grid-area: sidebar3;
}
/* line 79, ../scss/pages/_homepage.scss */
.homepage.header .service:nth-child(5) {
  grid-area: sidebar4;
}
/* line 86, ../scss/pages/_homepage.scss */
.homepage.three-grid {
  background-color: rgba(250, 250, 250, 0.95);
  color: #343434;
}
/* line 90, ../scss/pages/_homepage.scss */
.homepage.three-grid .left,
.homepage.three-grid .center,
.homepage.three-grid .right {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* line 96, ../scss/pages/_homepage.scss */
.homepage.three-grid .left img,
.homepage.three-grid .center img,
.homepage.three-grid .right img {
  margin: 0 0 20px 0;
}
/* line 99, ../scss/pages/_homepage.scss */
.homepage.three-grid .left p,
.homepage.three-grid .center p,
.homepage.three-grid .right p {
  line-height: 1.5;
  min-height: 175px;
}
/* line 104, ../scss/pages/_homepage.scss */
.homepage.three-grid .left .left,
.homepage.three-grid .center .left,
.homepage.three-grid .right .left {
  grid-area: left;
}
/* line 108, ../scss/pages/_homepage.scss */
.homepage.three-grid .left .center,
.homepage.three-grid .center .center,
.homepage.three-grid .right .center {
  grid-area: center;
}
/* line 112, ../scss/pages/_homepage.scss */
.homepage.three-grid .left .right,
.homepage.three-grid .center .right,
.homepage.three-grid .right .right {
  grid-area: right;
}
