@import '../variables';

button {
	display: block;
	margin: 0 15px 15px 0;
	padding: 10px 22px;
	border: none;
	color: $color-text-body-on-dark;
	background: $color-primary;
	font-size: 1rem;
	line-height: 1.688rem;
	font-family: 'Andada', Helvetica, arial, sans-serif;
	cursor: pointer;
	text-align: center;
	position: relative;

	&:hover {
		text-decoration: none;
		opacity: 0.6;
	}

	&.line {
		padding: 8px 20px;
		border: 2px solid rgba($color-text-body-on-dark, 0.6);
		background: transparent;
		color: $color-text-body-on-dark;
		font-family: $sans-serif;
		font-weight: 100;
	}

	&.large {
		font-size: 1.2rem;
		line-height: 2rem;
		font-weight: 300;
		font-family: 'Libre Franklin', Helvetica, arial, sans-serif;
	}
}
