@import '../variables';

// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="email"],
// input[type="month"],
// input[type="number"],
// input[type="password"],
// input[type="search"],
// input[type="tel"],
// input[type="text"],
// input[type="time"],
// input[type="url"],
// input[type="week"],
// li select,
// li textarea {
// 	display: block;
// 	float: left;
// 	width: 100%;
// 	height: 50px;
// 	box-sizing: border-box;
// 	border: 1px solid rgba($color-line, 0.75);
// 	margin: 3px 0 20px 0;
// 	color: $color-line;
// }
