@import '../variables';

nav {
	height: $height-top-bar;
	background: rgba($color-top-bar-background, .25);
	color: $color-top-bar-text;
	position: absolute;
	min-width: 100vw;
	max-width: 100vw;
	z-index: 10;

	@include screen-format(phone) {
		height: 100vh;
		background-color: transparent;
	}
	@include screen-format(nano) {
		height: 100vh;
		background-color: transparent;
	}

	ol {

		&.desktop {
			display: grid;
			grid-auto-flow: column;
			grid-auto-columns: minmax(min-content, auto);
			grid-template-rows: 15vmin;
			align-items: center;
			justify-content: center;
			list-style: none;

			@include screen-format(phone) {
				display: none
			}
			@include screen-format(nano) {
				display: none
			}

			li {
				text-transform: uppercase;
				padding: 0 $default-nav-padding;

				@include screen-format(laptop){
					padding: 0 $default-nav-padding - 2;
				}

				@include screen-format(tablet) {
					padding: 0 $default-nav-padding * 0.25;
				}

				&.site-logo {
					grid-column: 1 / span 2;
					justify-self: start;
					padding: 0;

					.desktop-logo {
						@include screen-format(tablet) {
							display: none;
						}
					}

					.mobile-logo {
						display: none;
						height: $height-top-bar * .75;

						@include screen-format(tablet) {
							display: block;
						}
					}
				}

				&:nth-child(2) {
					grid-column: 3 / span 2;
				}
				&:nth-child(3) {
					grid-column: 5 / span 1;
				}
				&:nth-child(4) {
					grid-column: 6 / span 1;
				}
				&:nth-child(5) {
					grid-column: 7 / span 1;
				}
				&:nth-child(6) {
					grid-column: 8 / span 1;
				}
				&:nth-child(7) {
					grid-column: 9 / span 1;
				}
				&.consult-button {
					grid-column: 10 / span 2;
				}


				a {
					text-decoration: none;
					font-family: 'Libre Franklin';
					font-size: 0.8rem;
					color: rgba($color-text-header-on-dark, 0.8);
				}
			}
		}
	}

	// *****
	// Mobile Navigation
	// *****
	.mobile-modal {
		height: 12vmin;
		background-color: transparent;
		width: 15vmin;
		margin: 5vmin;
		display: block;
		overflow: hidden;
		@include transition(all 0.5s, width 0.5s 0.3s, background-color 0.5s 0.5s);

		@include screen-format(monitor) {
			display: none;
		}
		@include screen-format(laptop) {
			display: none;
		}
		@include screen-format(tablet) {
			display: none;
		}

		&.open {
			background-color: $color-primary;
			height: 90vmax;
			width: 90vmin;
			@include transition(all 0.5s, height 0.5s 0.3s);

			.mobile-menu {
				@include transition(opacity 0.1s 0.3s);
				opacity: 1;
			}
		}

		.hamburger {
			z-index: 20;
		}

		.mobile-menu {
			display: grid;
			text-align: center;
			grid-template-columns: 90%;
			grid-auto-rows: 10vmin;
			grid-auto-flow: row;
			height: 90%;
			align-content: space-evenly;
			justify-items: center;
			opacity: 0;
			@include transition(opacity 0.1s 0.3s);

			li {
			text-transform: uppercase;
				a {
					text-decoration: none;
					font-family: $sans-serif;
					font-weight: 100;
					font-size: 1.3rem;
					color: rgba($color-text-header-on-dark, 0.8);
					@include transition(all 0.5s);

					&:hover {
						color: $color-text-header;
					}
				}
			}
		}
	}
}
