
<!DOCTYPE html>
<html class="no-js" lang="{{ site.language }}">
<head>
	<meta charset="{{ site.charset }}">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Jamie <info@tyrannosaurustech.com> (http://tyrannosaurustech.com)">
	<script>document.documentElement.className = document.documentElement.className.replace(/no-js/g, 'js');</script>

	<link rel="shortcut icon" href="{{ site.url }}/wp-content/uploads/2017/08/favicon-16x16.png">
	{{ function('wp_head') }}
</head>

<body class="{{ body_class }}">
	<nav id="ns-menu">
		<div id="ns-menu-container">
			<ol>
				<li class="site-logo"><a id="ns-logo" href="{{ site.url }}"><img src="{{ site.url }}/wp-content/uploads/2017/08/nav-logo-1.png" alt="Tyrannosaurus Tech logo picture of a Tyrannosaurus Rex"></a></li>
				{% for item in menus.main.get_items-%}
					<li><a href="{{ item.get_link }}">{{ item.title }}</a></li>
				{% endfor -%}
			</ol>
		</div>
	</nav>

	{% block content -%}

	{% endblock -%}
	<video class="background-video" autoplay="" loop="" muted="">
		<source src="{{theme.link}}/img/Dinosaurs-The-Terrible-Lizards.mp4" type="video/mp4">
	</video>
	<footer>
	</footer>

	{{ function('wp_footer') }}

</body>
</html>
