{% extends "page.twig" %}
{% block three_grid %}
	<section class="homepage 3-grid" style="height:20%; background: white;">
		<div class="3-grid left">

		</div>
		<div class="3-grid center">

		</div>
		<div class="3-gr right">

		</div>
	</section>
{% endblock %}
