{% extends "base.twig" %}

{% block content %}
	<section class="homepage header">
		<div class="title">
			<h1>Savage App Development</h1>
			<div class="button-wrapper">
				<a><button type="button" name="button" class="large">See How We Can Help</button></a>
				<a><button type="button" name="button" class="large line">We have Mad Skillz</button></a>
			</div>
		</div>
		<div class="service">
			<h3>Cloud Software</h3>
			<p>Businesses large and small rely on the cloud to host their software and store their data. We have years of experience building mission-critical, cloud-based solutions for our clients. <a href="#">Read More »</a></p>
		</div>
		<div class="service">
			<h3>Interface Design</h3>
			<p>We build software with visual components that reflect the quality of the underlying codebase. Clients love our interfaces because they are beautiful, easy-to-use, and intuitive. <a href="#">Read More »</a></p>
		</div>
		<div class="service">
			<h3>Mobile Apps</h3>
			<p>Whether you are interested in developing for the iOS or Android platform, Tyrannosaurus Tech has you covered. And if your app has a cloud component, we can help with that too. <a href="#">Read More »</a></p>
		</div>
		<div class="service">
			<h3>WordPress Experts</h3>
			<p>WordPress is more than just a blogging platform. We can create engaging and unique sites both your users and employees will enjoy using. We can bring highly customized web solutions to the world's most popular content management system. <a href="#">Read More »</a></p>
		</div>
	</section>
	<!-- // Homepage Header -->
	{% block three_grid %}
	<section class="homepage three-grid">
		<div class="left">
			<img src="{{ theme.link }}/img/icons/experts.png" alt="Experts Icon">
			<h2>Domain Experts</h2>
			<p>Our diverse team has the experience and domain expertise to tackle any challenge and deliver a great solution on time. From our first discovery meeting to delivery and deployment, we leverage deep industry and technical know-how to architect and implement the ideal solution.</p>
		</div>
		<div class="center">
			<img src="{{ theme.link }}/img/icons/process.png" alt="Process Icon">
			<h2>Robust Process</h2>
			<p>We take a strategic approach to design and development. Through our own proven, transparent, and collaborative process, we bring focus and commitment to every client engagement, big and small, providing a clear ROI and an exceptional experience.</p>
		</div>
		<div class="right">
			<img src="{{ theme.link }}/img/icons/tools.png" alt="Tools Icon">
			<h2>The Right Tools</h2>
			<p>We leverage only the best modern, stable and proven technologies for our clients. With our extensive and diverse experience, our toolbelt is versatile and our team team is well equipped to pick and implement the ideal technology solution to best serve your specific needs.</p>
		</div>
	</section>
	<!-- // Homepage 3-grid -->
	{% endblock %}

	<section class="homepage blockquote">
		<div class="vertical-line"></div>
		<h2 class="small">Our Mission Statement</h2>
		<blockquote>We provide superior software development and innovative design, creating simple solutions for your organization's most complex problems.</blockquote>
	</section>
	<!-- // Homepage Blockquote -->

	<section class="homepage post featured">
		<div class="post featured left">

		</div>
		<div class="post featured right">

		</div>
	</section>
	<!-- // Homepage Post Featured -->

	<section class="homepage whitepaper">
		<div class="homepage whitepaper left">

		</div>
		<div class="homepage whitepaper right">

		</div>
	</section>
	<!-- // Homepage Whitepaper -->

	<section class="homepage slider">
		<div class="homepage slider slide">

		</div>
		<div class="homepage slider slide">

		</div>
		<div class="homepage slider slide">

		</div>
		<div class="hompage slider slide">

		</div>
	</section>
	<!-- Homepage slider -->

	<section class="homepage email-form">

	</section>
	<!-- Homepage Email From -->


{% endblock %}
