<!DOCTYPE html>
<html class="no-js" lang="{{ site.language }}">
<head>
	<meta charset="{{ site.charset }}">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Jamie <info@tyrannosaurustech.com> (http://tyrannosaurustech.com)">
	<script>document.documentElement.className = document.documentElement.className.replace(/no-js/g, 'js');</script>

	<link rel="shortcut icon" href="{{ site.url }}/wp-content/uploads/2017/08/favicon-16x16.png">
	{{ function('wp_head') }}
</head>

<body class="{{ body_class }}">
	<nav id="ns-menu">
			<ol class="desktop">
				<li class="site-logo"><a id="ns-logo" href="{{ site.url }}"><img class="desktop-logo" src="{{ site.url }}/wp-content/uploads/2017/08/nav-logo-1.png" alt="Tyrannosaurus Tech logo picture of a Tyrannosaurus Rex"><img class="mobile-logo" src="{{ theme.link }}/img/logo.png" alt="Tyrannosaurus Tech logo picture of a Tyrannosaurus Rex"></a></li>
				<li><!-- Empty Menu Space--></li>
				{% for item in menus.main.get_items-%}
					<li><a href="{{ item.get_link }}">{{ item.title }}</a></li>
				{% endfor -%}
			</ol>
			<div class="mobile-modal">
				<button class="hamburger hamburger--spring-r" type="button" aria-label="Menu" aria-controls="navigation" aria-expanded="false">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
				<ol class="mobile-menu">
					{% for item in menus.main.get_items-%}
						<li><a href="{{ item.get_link }}">{{ item.title }}</a></li>
					{% endfor -%}
				</ol>
			</div>
	</nav>

	{% block content -%}

	{% endblock -%}
	<video class="background-video" autoplay="" loop="" muted="">
		<source src="{{theme.link}}/img/Dinosaurs-The-Terrible-Lizards.mp4" type="video/mp4">
		<source src="{{theme.link}}/img/Dinosaurs-The-Terible-Lizards.webm" type="video/webm">
	</video>
	<div class="mobile-image"></div>

	<footer>
		<section class="footer email-form">
			<h3>Stay Connected</h3>
			<p>See what we're up to by subscribing to our newsletter</p>
			<form action="//tyrannosaurustech.us13.list-manage.com/subscribe/post?u=9cf7a079c4651e4c9797f5674&amp;id=03a582ea27" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div id="mc_embed_signup_scroll">
					<div class="mc-field-group">
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
					</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9cf7a079c4651e4c9797f5674_03a582ea27" tabindex="-1" value=""></div>
					<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</div>
			</form>
		</section>
		<!-- Footer Email From -->

		<section class="footer menu">
			<div class="border">
				<div class="action-call">
					<div class="left content">
						<h2 class="large">Think we can build <span>great</span> things together? <span>Let's do it!</span></h2>
					</div>
					<div class="center"></div>
					<div class="right">
						<div class="top">

						</div>
						<div class="bottom">

						</div>
					</div>
				</div>
				<div class="contact">
					<div class="first">
						<h3>Contact Us</h3>
						<span>info@tyrannosaurustech.com</span>
						<span>770.282.9628</span>
					</div>
					<div class="second">
						<h3>Address</h3>
						<span>695 Pylant Street NE</span>
						<span>Suite #108</span>
						<span>Atlanta, GA 30306</span>
					</div>
					<div class="third">
						<h3>Social Media</h3>
						<span><a href="https://twitter.com/tyranntech" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>Twitter</a></span>
						<span><a href="https://www.facebook.com/tyrannosaurustech" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i>Facebook</a></span>
						<span><a href="https://www.instagram.com/tyrannosaurustech/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i>Instagram</a></span>
						<span><a href="https://www.linkedin.com/company/tyrannosaurus-tech" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i>Linkedin</a></span>
					</div>
					<div class="fourth">
						<h3>Site Map</h3>
						{% for item in menus.main.get_items-%}
							<span><a href="{{ item.get_link }}">{{ item.title }}</a></span>
						{% endfor -%}
					</div>
				</div>
			</div>
		</section>
	</footer>

	{{ function('wp_footer') }}

</body>
</html>
