{% extends "base.twig" %}

{% block content %}
	<section class="blog">
		<h1>Tyrannosaurus Blog</h1>
		<div class="blog-grid">
			{% for post in posts %}
				<div class="post">
					<span class="date">{{ post.post_date|date(Y) }}</span>
					<a href="{{ post.link }}"><h2>{{ post.title }}</h2></a>
					<img src="{{ post.thumbnail.src|resize(275) }}" alt="">
					<span class="byline">By: {{post.get_field( 'post_author' ) }}</span>
					<p>{{ post.content|excerpt }}</p>
				</div>
			{% endfor %}
		</div>
		{% if posts.pagination.prev %}
		<a href="{{posts.pagination.prev.link}}" class="prev {{posts.pagination.prev.link|length ? '' : 'invisible'}}">Prev</a>
		{% endif %}
		{% if posts.pagination.next %}
		<a href="{{posts.pagination.next.link}}" class="next {{posts.pagniation.next.link|length ? '' : 'invisible'}}">Next</a>
		{% endif %}
	</section>
{% endblock %}
