{% extends "base.twig" %}

{% block content %}
	<section class="homepage header">
		<!-- <div class="homepage header award-wrapper">
			<div class="ribbon"></div>
			<div class="badge">
			</div>
		</div> -->
		<div class="homepage header grid-wrapper">
			<div class="title">
				<h1>Savage App Development</h1>
				<a class="award"><p>Named a 2017 Atlanta <strong>"Top Software Developer"</strong></p></a>
				<div class="button-wrapper">
					<a><button type="button" name="button" class="large">See How We Can Help</button></a>
					<a><button type="button" name="button" class="large line">We have Mad Skillz</button></a>
				</div>
			</div>
			<div class="sidebar">
				<div class="service">
					<h3>Cloud Software</h3>
					<p>Businesses large and small rely on the cloud to host their software and store their data. We have years of experience building mission-critical, cloud-based solutions for our clients. <a href="#">Read More»</a></p>
				</div>
				<div class="service">
					<h3>Interface Design</h3>
					<p>We build software with visual components that reflect the quality of the underlying codebase. Clients love our interfaces because they are beautiful, easy-to-use, and intuitive. <a href="#">Read More»</a></p>
				</div>
				<div class="service">
					<h3>Mobile Apps</h3>
					<p>Whether you are interested in developing for the iOS or Android platform, Tyrannosaurus Tech has you covered. And if your app has a cloud component, we can help with that too. <a href="#">Read More»</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- // Homepage Header -->

	{% block three_grid %}
	<section class="homepage consulting">
		<div class="four-grid">
			<div class="consulting grid box">
				<img src="{{ theme.link }}/img/icons/sanity.png" alt="Sanity Icon">
				<h3>My codebase needs a sanity check.</h3>
				<p>Need a fresh set of eyes on your codebase? We’re happy to take a look. Let’s face it, many legacy code bases need a refresh (or weren’t built properly in the first place). Are you experiencing latency issues? Security breaches? Recurring bugs or crashes? Our team of experienced engineers can dig in, take a closer look, diagnose the problem, and provide actionable remedies.<br>
				<a href="#">Learn More ...</a></p>

			</div>
			<div class="consulting grid box">
				<img src="{{ theme.link }}/img/icons/launch.png" alt="Sanity Icon">
				<h3>My budget or launch date are non-negotiable.</h3>
				<p>10-4. We hear you loud and clear. And we’re confident we can get you to where you need to be on time and on budget. We work hands on with our clients and properly manage project scope, expectations and timelines to ensure you get the best ROI and the quickest possible turnaround to help you meet your goals. Our team thrives under pressure and consistently delivers.<br>
				<a href="#">Learn More ...</a></p>
			</div>
			<div class="consulting grid box">
				<img src="{{ theme.link }}/img/icons/team.png" alt="Sanity Icon">
				<h3>My existing team needs help immediately.</h3>
				<p>Hiring can be tough. And it can be especially challenging to find the right technical talent. So, what do you do when your team needs development reinforcements ASAP? That’s where we come in. Our seasoned developers are ready to jump in and hit the ground running, seamlessly supplementing your team and making sure you deliver on your development goals.<br>
				<a href="#">Learn More ...</a></p>
			</div>
			<div class="consulting grid box">
				<img src="{{ theme.link }}/img/icons/interpretation.png" alt="Sanity Icon">
				<h3>I need help with data interpretation</h3>
				<p>Have access to a large data set but aren’t quite sure what to do with it? Data is the new secret weapon in technology and modern business and, our team knows how to leverage data to derive value and strategic actionable insights for our customers. Whether you’re looking to analyze data or visualize it in a compelling way, we’re here to help.<br>
				<a href="#">Learn More ...</a></p>
			</div>
		</div>
	</section>
	<!-- // Homepage 3-grid -->
	{% endblock %}

	<section class="homepage blockquote">
		<div class="vertical-line"></div>
		<h3 class="small">Our Mission Statement</h3>
		<blockquote>We provide superior software development and innovative design, creating simple solutions for your organization's most complex problems.</blockquote>
	</section>
	<!-- // Homepage Blockquote -->

	<section class="homepage two-grid">
		<div class="left">
			<h2>Apps and Strategy for Software-Driven Companies</h2>
			<p><strong><span>L</span>aunching a new product</strong> and need an MVP (minimum viable product)? We've got you covered. Across our team, we have extensive experience with startups. In fact, we've got several successful exits, VC rounds, and even an IPO under our collective belts. Let us help you bring your idea to life. We'll work with you to shoose the ideal technology and feature set. Before you know it, you'll be up and running.</p>
		</div>
		<div class="right image">
			<img src="{{ theme.link }}/img/isolated/apps_and_strategy.png" alt="A dinosaur with generic computer things. A laptop. A magnifying glass. And a pencil. Of all things.">
		</div>
	</section>
	<!-- // Homepage Two Grid -->

	<section class="homepage post-grid featured">
		<div class="post left">
			<div class="banner">Tyrannosaurus Blog</div>
			<div class="meta">February 15th, 2017</div>
			<h2>Insights From a Software Development Agency: 6 Tips for Technical Interviews</h2>
			<img src="https://tyrannosaurustech.com/wp-content/uploads/2017/04/jamie-blog.jpg" alt="">
			<div class="byline">by: Richard Simms</div>
			<p>At Tyrannosaurus Tech, we’re often asked what exactly we’re looking for when we’re hiring a developer. Particularly junior level folks are wondering what it takes to rise above the rest, prove their worth, and survive the dreaded technical interview. Digging into this blog post, we’ve set out to answer some of those questions and give a short and sweet ... <a>Read More »</a></p>
		</div>
		<div class="post right">
			<div class="banner">Tyrannosaurus Blog</div>
			<div class="meta">October 26th, 2016</div>
			<h2>Insights From a Software Development Agency: 6 Tips for Technical Interviews</h2>
			<img src="https://tyrannosaurustech.com/wp-content/uploads/2017/04/jamie-blog.jpg" alt="">
			<div class="byline">by: Jason Bishop</div>
			<p>An acquaintance of mine recently lamented on Facebook the impending loss of the Macbook’s physical escape button. He is a software developer and for him, the loss of the escape key translates to difficulty toggling input modes when using Vim. His complaint is a real one. Industrial designers alienate existing users ... <a>Read More »</a></p>
		</div>
	</section>
	<!-- // Homepage Post Featured -->

	<section class="homepage whitepaper">
		<div class="left">
			<h2>Hiring vs. Agency: Cost Analysis</h2>
			<p>So, your're looking for a hotshot developer to take your tech team to the next level?</p>
		</div>
		<div class="right">
			<p><strong><span>S</span>o, you're looking</strong> for a hotshot developer to take your tech team to the next level? Well, it sounds like your business is growing and that is AWESOME. Congrats! But before you embark on the long and challenging journey of finding and on-boarding someone who has just the right skill set and is the perfect cultural fit, consider your options. Hey, every business loves the feeling of growing the team and, we totally get that. But particularly when it comes to software developers, companies can often get a better return on investment (ROI), enlist senior level talent, and accomplish their technical goals more quickly by partnering with an agency like Tyrannosaurus Tech. Not convinced?</p>
			<p>Check out our whitepaper entitled <a>The Best Developer You Never Had, Hiring vs. Using an Agency: A Comparative Cost Analysis.</a> We’ve done in-depth industry research, crunched the numbers, and summarized our findings nicely in an easy-to-digest 5 pages. Is making a full-time hire the right move for your business right now? Don’t just take our word for it – dig in and decide for yourself.</p>
		</div>
	</section>
	<!-- // Homepage Whitepaper -->

	<div class="homepage swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="slide-wrapper">
					<div class="image" style="background-image: url('{{ theme.link }}/img/testimonials/jenn.png')"></div>
					<div class="content">
						<blockquote>
							"After working with several tech partners, I noticed right away that I would have a first-class expewrience with the entire team. I've gotten to work with Jason and Richard now for three different projects and look forward to many more. Given that I lead my own company and have lots of projects going at a time, I know I can trust the TT team to do a fantastic job, on time and on budget."
						</blockquote>
						<h3><span>–<span>Jenn Graham</h3>
						<h4><strong>Founder,</strong>AHA! Strategy</h4>
					</div>
				</div>
			</div><!-- Slide One-->
			<div class="swiper-slide">
				<div class="slide-wrapper">
					<div class="image" style="background-image: url('{{ theme.link }}/img/testimonials/brenda.png')"></div>
					<div class="content">
						<blockquote>
							"Tyrannosaurus Tech was super flexible working within our nonprofit budget. They were genuinely excited to work with a nonprofit and delivered a website that is functional and far better than what we had previously."
						</blockquote>
						<h3><span>–<span>Brenda Moorer</h3>
						<h4><strong>Marketing Manager,</strong>Kenny Leon's True Colors Theatre</h4>
					</div>
				</div>
			</div><!-- Slide Two -->
			<div class="swiper-slide">
				<div class="slide-wrapper">
					<div class="image" style="background-image: url('{{ theme.link }}/img/testimonials/jeremy.png')"></div>
					<div class="content">
						<blockquote>
							"We’ve been able to move much faster since working with Tyrannosaurus Tech. They were able to ramp up on our codebase and be productive from day one."
						</blockquote>
						<h3><span>–<span>Jeremy Haile</h3>
						<h4><strong>Founder,</strong>Sidequik</h4>
					</div>
				</div>
			</div><!-- Slide Three -->
			<div class="swiper-slide">
				<div class="slide-wrapper">
					<div class="image" style="background-image: url('{{ theme.link }}/img/testimonials/prem.png')"></div>
					<div class="content">
						<blockquote>
							"The Tyrannosaurus Tech team really went above and beyond in their work on our project. Their attention to detail and responsiveness made for a painless process and a great ROI for our company. I would definitely recommend working with Tyrannosaurus Tech."
						</blockquote>
						<h3><span>–<span>Prem Bhatia</h3>
						<h4><strong>Founder,</strong>Cooleaf</h4>
					</div>
				</div>
			</div><!-- Slide Four -->
		</div>
	</div>
	<!-- Homepage swiper -->

{% endblock %}
