{% extends "base.twig" %}

{% block content %}
	<section class="work header tagline">
		<h1>{{post.get_field('header_tagline')}}</h1>
	</section>
	<section class="work backgrounds">
		<div class="vertical-line"></div>
		<h2>We've helped clients with diverse backgrounds.</h2>
		<div class="work three-grid">
			<div class="left">
				<img src="{{ theme.link }}/img/icons/enterprise.png" alt="Experts Icon">
				<h3>Enterprise Business</h3>
				<p>We've built out web-scale applications for big businesses with mission-critical internet strategies. If you're looking for developers with experience in high-traffic, high-volume software, we're your solution.</p>
			</div>
			<div class="center">
				<img src="{{ theme.link }}/img/icons/nonprofit.png" alt="Process Icon">
				<h3>Non-Profit Organizations</h3>
				<p>Civic good and software do not frequently cross paths, but we've had the good fortune to partner with local non-profit organizations on their projects. We look forward to philanthropic opportunities.</p>
			</div>
			<div class="right">
				<img src="{{ theme.link }}/img/icons/startups.png" alt="Tools Icon">
				<h3>Angel-Backed Startups</h3>
				<p>Entrepreneurs are some of the greatest technology innovators and we love talking with young businesses who have big ideas. Let's build today the software people won't be able to live without.</p>
			</div>
		</div>
	</section>
	<section class="work examples">
		<div class="examples-grid">
			<div class="box">
				<div class="background-image">
					<img src="{{ theme.link }}/img/portfolio/emory.png" alt="">
				</div>
				<div class="logo">
					<img src="{{ theme.link }}/img/logos/emory.png" alt="Emory Logo">
				</div>
				<div class="brand-info">
					<h4>Emory University</h4>
					<span>Cloud-based Web Application</span>
				</div>
			</div>
			<div class="box">
				<div class="background-image">
					<img src="{{ theme.link }}/img/portfolio/porsche.png" alt="">
				</div>
				<div class="logo">
					<img src="{{ theme.link }}/img/logos/porsche.png" alt="Emory Logo">
				</div>
				<div class="brand-info">
					<h4>Porsche AG</h4>
					<span>Touch-Based Kiosk Software</span>
				</div>
			</div>
			<div class="box">
				<div class="background-image">
					<img src="{{ theme.link }}/img/portfolio/taskforce.png" alt="">
				</div>
				<div class="logo">
					<img src="{{ theme.link }}/img/logos/taskforce.png" alt="Emory Logo">
				</div>
				<div class="brand-info">
					<h4>Taskforce for Global Health</h4>
					<span>Cloud-Based Web Application</span>
				</div>
			</div>
			<div class="box">
				<div class="background-image">
					<img src="{{ theme.link }}/img/portfolio/ticket_alternative.png" alt="">
				</div>
				<div class="logo">
					<img src="{{ theme.link }}/img/logos/ticketalternative.png" alt="Emory Logo">
				</div>
				<div class="brand-info">
					<h4>Ticket Alternative</h4>
					<span>Mobile &amp; Cloud-Based Application</span>
				</div>
			</div>
			<div class="box">
				<div class="background-image">
					<img src="{{ theme.link }}/img/portfolio/truecolors.png" alt="">
				</div>
				<div class="logo">
					<img src="{{ theme.link }}/img/logos/truecolors.png" alt="Emory Logo">
				</div>
				<div class="brand-info">
					<h4>Kenny Leon's True Colors Theatre</h4>
					<span>WordPress Brochure Site</span>
				</div>
			</div>
			<div class="box">
				<div class="background-image">
					<img src="{{ theme.link }}/img/portfolio/hypepotamus.png" alt="">
				</div>
				<div class="logo">
					<img src="{{ theme.link }}/img/logos/hypepotamus.png" alt="Emory Logo">
				</div>
				<div class="brand-info">
					<h4>Hypepotamus</h4>
					<span>Performance Optimization</span>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
