{% extends "base.twig" %}

{% block content %}
	<section class="contact header tagline">
		<h1>{{post.get_field('header_tagline')}}</h1>
	</section>
	<section class="contact map">
		<div class="two-grid">
			<div class="content">
				<h2>Want some face time? Come pay us a visit!</h2>
				<p>Tyrannosaurus Tech is located in East Midtown along the Atlanta Beltline. From the interstate: take the 10th street exit and go east past Piedmont Park to Monroe Drive NE. Take a right and then make a left onto Virginia Avenue NE at Woody's CheeseSteaks. At Inman Middle School, make a right onto Ponce De Leon Place NE. Pylant Street NE will be on the right at the top of the hill at the stop sign. From the Beltline: Access Drewry Street NE via the stone path exiting on the east side of the Beltline. Turn left on Ponce De Leon Place NE and left again on Pylant Street NE.</p>
			</div>
			<div class="media map">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3316.3145234549056!2d-84.36683608450329!3d33.77837518068138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f504181fc1b37d%3A0xbb4278c9aa211283!2s695+Pylant+St+NE%2C+Atlanta%2C+GA+30306!5e0!3m2!1sen!2sus!4v1485290093156" frameborder="0" style="border:0" allowfullscreen=""></iframe>
			</div>
		</div>
	</section>
	<section class="contact form">
		<div class="two-grid">
			<div class="content">
				<h2>Free Developer Consultation</h2>
				<p>Thanks for your interest! Fill out this form and we'll displatch a developer pronto to listen to your technology needs.</p>
			</div>
			<div class="media form">
				<form class="" action="https://formspree.io/jamie@tyrannosaurustech.com" method="POST">
					<ol id="ttech-contact-form">
						<li class="starting-line">
							<div class="form-number">
								<div class="empty-row"></div>
								<!-- ****** -->
							</div>
						</li>
						<li>
							<div class="form-number">
								<!-- ***** -->
								<div class="form-number-row">
									<div class="number-outer-box">
										<div class="number-inner-box">
											<span><strong>Q1.</strong></span>
										</div>
									</div>
									<div class="empty-number-column"></div>
								</div>
								<div class="empty-row"></div>
								<!-- ****** -->
							</div>
							<div class="form-border">
								<label for="form-name">What is your name?</label>
								<input type="text" name="form-name" id="form-name">
							</div>
						</li><!-- End name field -->
						<li>
							<div class="form-number">
								<!-- ***** -->
								<div class="form-number-row">
									<div class="number-outer-box">
										<div class="number-inner-box">
											<span><strong>Q2.</strong></span>
										</div>
									</div>
									<div class="empty-number-column"></div>
								</div>
								<div class="empty-row"></div>
								<!-- ****** -->
							</div>
							<div class="form-border">
								<label for="form-email">What is your email?</label>
								<input type="text" name="form-email" id="form-email">
							</div>
						</li><!-- End email field -->
						<li>
							<div class="form-number">
								<!-- ***** -->
								<div class="form-number-row">
									<div class="number-outer-box">
										<div class="number-inner-box">
											<span><strong>Q3.</strong></span>
										</div>
									</div>
									<div class="empty-number-column"></div>
								</div>
								<div class="empty-row"></div>
								<!-- ****** -->
							</div>
							<div class="form-border">
								<label for="form-phone">What is your phone number?</label>
								<input type="text" name="form-phone" id="phone-number">
							</div>
						</li><!-- End phone field -->
						<li>
							<div class="form-number">
								<!-- ***** -->
								<div class="form-number-row">
									<div class="number-outer-box">
										<div class="number-inner-box">
											<span><strong>Q4.</strong></span>
										</div>
									</div>
									<div class="empty-number-column"></div>
								</div>
								<div class="empty-row"></div>
								<!-- ****** -->
							</div>
							<div class="form-border">
								<label for="form-remark">Tell us about your organization and needs</label>
								<textarea type="text" name="form-remark" id="form-remark"></textarea>
							</div>
						</li><!-- End remark field -->
						<li>
							<div class="form-number">
								<!-- ***** -->
								<div class="form-number-row">
									<div class="number-outer-box">
										<div class="number-inner-box">
											<span><strong>Q5.</strong></span>
										</div>
									</div>
									<div class="empty-number-column"></div>
								</div>
								<div class="empty-row finish-line"></div>
								<!-- ****** -->
							</div>
							<div class="form-border">
								<label for=form-remark"">Submit your query and we'll get back with you soon!</label>
								<input type="submit" name="form-submit" id="form-submit" value="Get My Free Consultation">
							</div>
						</li><!-- End Submit -->
					</ol>
				</form>
			</div>
		</div>
	</section>
{% endblock %}
