{% extends "base.twig" %}

{% block content %}
<section class="about header tagline">
	<h1>{{post.get_field('header_tagline')}}</h1>
</section>
<section class="about mission two-grid">
	<div class="content">
		<h2>Our Mission</h2>
		<p>Tyrannosaurus Tech is a software development agency rooted in Atlanta, GA. We are a team of innovative designers and top-tier developers that thrive on solving complex problems, designing elegant solutions, and providing maximum ROI for our customers. Through our own proven, transparent, and collaborative agile process, we help companies leverage technology to tackle their biggest challenges. We humanize the development process and clarify the complex undertaking of bringing an idea to life. Working closely with our clients, we determine a clear path forward towards success and continued growth. Put simply, our team combines passion with superior technical talent to create one of a kind web and mobile products.</p>
	</div>
	<div class="image-wrapper">
		<img src="{{ theme.link }}/img/isolated/triceratops.png" alt="Toy Triceratops. It's a non-sequituer really. Don't read any meaning into this particular dino.">
	</div>
</section>
<section class="about blockquote">
	<div class="vertical-line"></div>
	<h3 class="small">Our Mission Statement</h3>
	<blockquote>We provide superior software development and innovative design, creating simple solutions for your organization's most complex problems.</blockquote>
</section>
<section class="about media">
		<div class="two-grid">
			<div class="title">
				<h2>Tyrannosaurus Tech in the Press</h2>
			</div>
			<div class="press-links">
				<div class="press-row">
					<div class="press-image" style="background-image:url('{{ theme.link }}/img/press/southeast-makers-press-photo.jpg')">
					</div>
					<div class="press-title">
						<a href="http://southeastmakersatl.com/tyrannosaurs-tech-develops-community-atlanta/">Tyrannosaurus Tech Develops Community in Atlanta</a>
					</div>
				</div>
				<div class="press-row">
					<div class="press-image" style="background-image:url('{{ theme.link }}/img/software_developers_atlanta_2017.png')">
					</div>
					<div class="press-title">
						<a href="https://clutch.co/press-releases/announces-top-agencies-developers-philadelphia-atlanta">Tyrannosaurus Tech Recognized as a Top Atlanta Agency</a>
					</div>
				</div>
				<div class="press-row">
					<div class="press-image" style="background-image:url('{{ theme.link }}/img/press/hype-press-photo.jpg')">
					</div>
					<div class="press-title">
						<a href="https://hypepotamus.com/companies/tyrannosaurus-tech/">Tyrannosaurus Tech Digs into Code for Entrepreneurs</a>
					</div>
				</div>
			</div>
		</div>
</section>
<section class="about two-grid">
	<div class="content">
		<h2>The Story Behind Our Name and Logo</h2>
		<p>Here at Tyrannosaurus Tech, we take our work (but not ourselves) very seriously. We set out to work hard and to do great work ... but we also wanted to have a good time along the way and create a culture and a lifestyle that we could enjoy. So when the name Tyrannosaurus Tech popped into our heads, we said "what the heck, let's go for it!"</p>
	</div>
	<div class="image-wrapper">
		<img src="{{ theme.link }}/img/logo.png" alt="Tyrannosaurus Tech Logo">
	</div>
</section>
<section class="about team">
	<div class="content-wrapper">
		<h2>Tyrannosaurus Teamwork</h2>
		<p>Designers. Developers. Marketers. Sellers. A few of the roles that the team at Tyrannosaurus Tech take on every day. We are a group of creative thinkers, innovators, big dreamers, and practical jokers. We're #blessed to love what we do and we come into the office each day excited to build things, solve problems, and think creatively. Our team is made up of A-players and represents some of the brightest minds in technology.</p>
	</div>
	<div class="honeycomb-grid">
		<div id="team-hexagon" class="column top">
			<div class="hexes">
				<img src="{{ theme.link }}/img/illustrations/team-member-carlos-plain.png" alt="">
			</div>
		</div>
		<div id="team-hexagon" class="column top">
			<div class="hexes">
				<img src="{{ theme.link }}/img/illustrations/team-member-daniel-plain.png" alt="">
			</div>
			<div class="bio-modal">
				<div class="headshot" style="background-color: gray;">

				</div>
				<div class="bio-content" style="background-color: green">

				</div>
			</div>
		</div>
		<div id="team-hexagon" class="column top">
			<div class="hexes">
				<img src="{{ theme.link }}/img/illustrations/team-member-jamie-plain.png" alt="">
			</div>
			<div class="bio-modal">
				<div class="headshot" style="background-color: red;">

				</div>
				<div class="bio-content" style="background-color: blue">

				</div>
			</div>
		</div>
		<div id="team-hexagon" class="column top middle">
			<div class="hexes">
				<img src="{{ theme.link }}/img/illustrations/team-member-jason-plain.png" alt="">
			</div>
		</div>
		<div id="team-hexagon" class="column bottom middle">
			<div class="hexes">
				<img src="{{ theme.link }}/img/illustrations/team-member-richard-plain.png" alt="">
			</div>
		</div>
		<div id="team-hexagon" class="column bottom middle">
			<div class="hexes">
				<img src="{{ theme.link }}/img/illustrations/team-member-robby-plain.png" alt="">
			</div>
		</div>
		<div id="team-hexagon" class="column bottom middle extra">
			<div class="hexes">
				<img src="{{ theme.link }}/img/illustrations/team-member-roberto-plain.png" alt="">
			</div>
		</div>
		<div id="team-hexagon" class="column bottom">
			<div class="hexes">
				<img src="{{ theme.link }}/img/illustrations/team-member-roberto-plain.png" alt="">
			</div>
		</div>
		<div id="team-hexagon" class="column bottom">
			<div class="hexes">
				<img src="{{ theme.link }}/img/illustrations/team-member-stefanie-plain.png" alt="">
			</div>
		</div>
		<div id="team-hexagon" class="column bottom">
			<div class="hexes">
				<img src="{{ theme.link }}/img/illustrations/team-member-carlos-plain.png" alt="">
			</div>
		</div>
	</div>
</section>
<section class="about hiring">
	<div class="vertical-line"></div>
	<div class="content-wrapper">
		<h2>We're hiring!</h2>
		<p>Tyrannosaurus Tech is growing and always on the lookout for top-tier talent. Our team moves fast, works hard, and has a good time doing it. If you're looking for a normal 9 to 5, Tyrannosaurus Tech is not for you. We like passionate, dynamic self-starters with a sense of humor and a desire to make the world a better place with technology. Does this sound like you? Cool! Check out our open positions below and hit us up if you want to talk.</p>
	</div>
	<div class="three-grid">
		<div>
			<h3>UI/UX Designer</h3>
			<p>Are you a tech geek with a great eye for design? Tyrannosaurus Tech might be the place for you to cut your teeth. From mockups to clickable prototypes, we're up to our necks in InVision and Adobe CC. Join us and dive in!</p>
		</div>
		<div>
			<h3>Back End Developer</h3>
			<p>Are you nuts over Node.js? Do you rave about Ruby on Rails? You may need psychiatric help. That or you may be interested in a software development position with us. We are hiring engineers of all experience levels!</p>
		</div>
		<div>
			<h3>Mobile Developer</h3>
			<p>Does Swift make you sweat? Are you an animal for Android? Crushing on cross-platform mobile development? We are getting lots of mobile project and... we need your help! Join our team and help us build awesome apps.</p>
		</div>
	</div>
</section>

<div class="about swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div class="slide-wrapper">
				<div class="image" style="background-image: url('{{ theme.link }}/img/testimonials/jenn.png')"></div>
				<div class="content">
					<blockquote>
						"After working with several tech partners, I noticed right away that I would have a first-class expewrience with the entire team. I've gotten to work with Jason and Richard now for three different projects and look forward to many more. Given that I lead my own company and have lots of projects going at a time, I know I can trust the TT team to do a fantastic job, on time and on budget."
					</blockquote>
					<h3><span>–<span>Jenn Graham</span></span></h3>
					<h4><strong>Founder,</strong>AHA! Strategy</h4>
				</div>
			</div>
		</div><!-- Slide One-->
		<div class="swiper-slide">
			<div class="slide-wrapper">
				<div class="image" style="background-image: url('{{ theme.link }}/img/testimonials/brenda.png')"></div>
				<div class="content">
					<blockquote>
						"Tyrannosaurus Tech was super flexible working within our nonprofit budget. They were genuinely excited to work with a nonprofit and delivered a website that is functional and far better than what we had previously."
					</blockquote>
					<h3><span>–<span>Brenda Moorer</span></span></h3>
					<h4><strong>Marketing Manager,</strong>Kenny Leon's True Colors Theatre</h4>
				</div>
			</div>
		</div><!-- Slide Two -->
		<div class="swiper-slide">
			<div class="slide-wrapper">
				<div class="image" style="background-image: url('{{ theme.link }}/img/testimonials/jeremy.png')"></div>
				<div class="content">
					<blockquote>
						"We’ve been able to move much faster since working with Tyrannosaurus Tech. They were able to ramp up on our codebase and be productive from day one."
					</blockquote>
					<h3><span>–<span>Jeremy Haile</span></span></h3>
					<h4><strong>Founder,</strong>Sidequik</h4>
				</div>
			</div>
		</div><!-- Slide Three -->
		<div class="swiper-slide">
			<div class="slide-wrapper">
				<div class="image" style="background-image: url('{{ theme.link }}/img/testimonials/prem.png')"></div>
				<div class="content">
					<blockquote>
						"The Tyrannosaurus Tech team really went above and beyond in their work on our project. Their attention to detail and responsiveness made for a painless process and a great ROI for our company. I would definitely recommend working with Tyrannosaurus Tech."
					</blockquote>
					<h3><span>–<span>Prem Bhatia</span></span></h3>
					<h4><strong>Founder,</strong>Cooleaf</h4>
				</div>
			</div>
		</div><!-- Slide Four -->
	</div>
</div>
<!-- About swiper -->
{% endblock %}
