{% extends "base.twig" %}

{% block content %}
	<section class="services header tagline">
		<h1>Launch your next digital service <span><b>on time</b></span> even if you don't have the <span>bandwidth</span>, <span>skill</span>, or <span>experience</span> in-house.</h1>
	</section>
	<!-- // Services Header -->
	<section class="services consulting">
		<div class="vertical-line"></div>
		<h2>What issues can we help you solve?</h2>
		<div class="four-grid">
			<div class="services consulting grid box">
				<img src="{{ theme.link }}/img/icons/sanity.png" alt="Sanity Icon">
				<h3>My codebase needs a sanity check.</h3>
				<p>Need a fresh set of eyes on your codebase? We’re happy to take a look. Let’s face it, many legacy code bases need a refresh (or weren’t built properly in the first place). Are you experiencing latency issues? Security breaches? Recurring bugs or crashes? Our team of experienced engineers can dig in, take a closer look, diagnose the problem, and provide actionable remedies.<br><a href="#">Learn More ...</a></p>

			</div>
			<div class="services consulting grid box">
				<img src="{{ theme.link }}/img/icons/launch.png" alt="Sanity Icon">
				<h3>My budget or launch date are non-negotiable.</h3>
				<p>10-4. We hear you loud and clear. And we’re confident we can get you to where you need to be on time and on budget. We work hands on with our clients and properly manage project scope, expectations and timelines to ensure you get the best ROI and the quickest possible turnaround to help you meet your goals. Our team thrives under pressure and consistently delivers.<br><a href="#">Learn More ...</a></p>
			</div>
			<div class="services consulting grid box">
				<img src="{{ theme.link }}/img/icons/team.png" alt="Sanity Icon">
				<h3>My existing team needs help immediately.</h3>
				<p>Hiring can be tough. And it can be especially challenging to find the right technical talent. So, what do you do when your team needs development reinforcements ASAP? That’s where we come in. Our seasoned developers are ready to jump in and hit the ground running, seamlessly supplementing your team and making sure you deliver on your development goals.<br><a href="#">Learn More ...</a></p>
			</div>
			<div class="services consulting grid box">
				<img src="{{ theme.link }}/img/icons/interpretation.png" alt="Sanity Icon">
				<h3>I need help with data interpretation</h3>
				<p>Have access to a large data set but aren’t quite sure what to do with it? Data is the new secret weapon in technology and modern business and, our team knows how to leverage data to derive value and strategic actionable insights for our customers. Whether you’re looking to analyze data or visualize it in a compelling way, we’re here to help.<br><a href="#">Learn More ...</a></p>
			</div>
		</div>
	</section>
	<!-- // Services Four Grid -->
	<section class="services blockquote">
		<div class="vertical-line"></div>
		<h3 class="small">Free Whitepaper</h3>
		<blockquote>Quantitative Analysis: Is it more cost-effective to hire new talent or contract a specialized team?</blockquote>
		<a href="#"><button class="line">Download Our Whitepaper</button></a>
	</section>
	<!-- // Services Blockquote -->
	<section class="services partner">
		<div class="vertical-line"></div>
		<h2>We're the ideal partner for your next project</h2>
		<div class="three-by-two-grid">
			<div class="services partner grid box">
				<h3>The Right Tools</h3>
				<p>We leverage only the best modern, stable and proven technologies for our clients. With our extensive and diverse experience, our toolbelt is versatile and our team team is well equipped to pick and implement the ideal technology solution to best serve your specific needs.</p>
			</div>
			<div class="services partner grid box">
				<h3>Agile Methodology</h3>
				<p>Tyrannosaurus Tech thrives on agile software development methodologies. Our proven iterative and dynamic development process allows us to move quickly, validate assumptions, make adjustments, and ultimately deliver thoroughly vetted features your users truly value.</p>
			</div>
			<div class="services partner grid box">
				<h3>Mobile Apps</h3>
				<p>Tyrannosaurus Tech thrives on agile software development methodologies. Our proven iterative and dynamic development process allows us to move quickly, validate assumptions, make adjustments, and ultimately deliver thoroughly vetted features your users truly value.</p>
			</div>
			<div class="services partner grid box">
				<h3>Deep Experience</h3>
				<p>Working with Tyrannosaurus Tech, you are partnering with some of the best and brightest minds in technology. For each problem we set out to tackle, we draw from extensive technical experience and industry know-how. From startups to Fortune 500 companies, we’ve seen it all and we always deliver.</p>
			</div>
			<div class="services partner grid box">
				<h3>Design-Focused</h3>
				<p>No matter how impressive the functionality, if your product doesn’t look great and have an intuitive user interface, adoption will be a major challenge. Our designers create beautiful and engaging user experiences, that translate across all devices and drive desired user behaviors.</p>
			</div>
			<div class="services partner grid box">
				<h3>Software Quality</h3>
				<p>We write code that is secure, scalable, well documented, and thoroughly tested. With Tyrannosaurus Tech, you can be confident that the code we produce is of the highest quality and is built to last. We’re a team of perfectionists that take pride in every line of code we deploy.</p>
			</div>
		</div>
	</section>
	<section class="services swiper-container">
		<div class="homepage swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="slide-wrapper">
						<div class="image" style="background-image: url('{{ theme.link }}/img/testimonials/jenn.png')"></div>
						<div class="content">
							<blockquote>
								"After working with several tech partners, I noticed right away that I would have a first-class expewrience with the entire team. I've gotten to work with Jason and Richard now for three different projects and look forward to many more. Given that I lead my own company and have lots of projects going at a time, I know I can trust the TT team to do a fantastic job, on time and on budget."
							</blockquote>
							<h3><span>–<span>Jenn Graham</span></span></h3>
							<h4><strong>Founder,</strong>AHA! Strategy</h4>
						</div>
					</div>
				</div><!-- Slide One-->
				<div class="swiper-slide">
					<div class="slide-wrapper">
						<div class="image" style="background-image: url('{{ theme.link }}/img/testimonials/brenda.png')"></div>
						<div class="content">
							<blockquote>
								"Tyrannosaurus Tech was super flexible working within our nonprofit budget. They were genuinely excited to work with a nonprofit and delivered a website that is functional and far better than what we had previously."
							</blockquote>
							<h3><span>–<span>Brenda Moorer</span></span></h3>
							<h4><strong>Marketing Manager,</strong>Kenny Leon's True Colors Theatre</h4>
						</div>
					</div>
				</div><!-- Slide Two -->
				<div class="swiper-slide">
					<div class="slide-wrapper">
						<div class="image" style="background-image: url('{{ theme.link }}/img/testimonials/jeremy.png')"></div>
						<div class="content">
							<blockquote>
								"We’ve been able to move much faster since working with Tyrannosaurus Tech. They were able to ramp up on our codebase and be productive from day one."
							</blockquote>
							<h3><span>–<span>Jeremy Haile</span></span></h3>
							<h4><strong>Founder,</strong>Sidequik</h4>
						</div>
					</div>
				</div><!-- Slide Three -->
				<div class="swiper-slide">
					<div class="slide-wrapper">
						<div class="image" style="background-image: url('{{ theme.link }}/img/testimonials/prem.png')"></div>
						<div class="content">
							<blockquote>
								"The Tyrannosaurus Tech team really went above and beyond in their work on our project. Their attention to detail and responsiveness made for a painless process and a great ROI for our company. I would definitely recommend working with Tyrannosaurus Tech."
							</blockquote>
							<h3><span>–<span>Prem Bhatia</span></span></h3>
							<h4><strong>Founder,</strong>Cooleaf</h4>
						</div>
					</div>
				</div><!-- Slide Four -->
			</div>
	</div></section>
{% endblock %}
