.about {
	background-color: $color-page-background;

	&.header {
		background-color: transparent;
	}


	&.blockquote {
		background-color: $color-page-background-dark;
		color: $color-text-body-on-dark;
	}

	&.media {

		h2 {
			@include screen-format(nano) {
				text-align: center;
			}
		}

		.press-links {
			display: grid;
			grid-template-columns: 40vmin;
			grid-template-rows: repeat(3, 25vmin);
			grid-row-gap: 2vmin;

			@include screen-format(nano) {
				grid-template-columns: 70vmin;
				grid-template-rows: repeat(3, 45vmin);
			}

			.press-row {
				position: relative;


				.press-image,
				.press-title {
					position: absolute;
					transition: all .5s;
				}

				.press-image {
					width: 100%;
					height: 100%;
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					@include screen-format(tablet) {
						opacity: 0.15;
					}
					@include screen-format(phone) {
						opacity: 0.15;
					}
					@include screen-format(nano) {
						opacity: 0.15;
					}
				}

				.press-title {
					opacity: 0;
					height: 100%;
					text-align: center;
					display: flex;
					align-items: center;

					@include screen-format(tablet) {
						opacity: 1;
					}
					@include screen-format(phone) {
						opacity: 1;
					}
					@include screen-format(nano) {
						opacity: 1;
					}
				}

				&:hover {
					.press-image {
						opacity: 0;
					}

					.press-title {
						opacity: 1;
					}
				}
			}
		}
	}

	&.team {
		position: relative;

		.content-wrapper {
			width: 60%;
			margin: 0 auto 75px;

			h2 {
				text-align: center;
				margin-top: 0;
			}
		}

		// *****
		// Grid Setup
		// *****
		.honeycomb-grid {
			display: grid;
			grid-template-columns: repeat(10, minmax(8vmax, auto));
			grid-template-rows: repeat(2, 21vmax);
			justify-content: center;
			grid-gap: 1vmax;
			grid-template-areas:
				"top"
				"bottom";
			z-index: 5;

			@include screen-format(tablet) {
				grid-template-columns: repeat(8, 13vmin);
				grid-template-rows: repeat(3, 28vmin);
				grid-template-areas:
				"top"
				"middle"
				"bottom";
			}

			@include screen-format(phone) {
				grid-template-columns: repeat(8, 11vmin);
				grid-template-rows: repeat(3, 26vmin);
				grid-template-areas:
				"top"
				"middle"
				"bottom";
			}

			@include screen-format(nano) {
				grid-template-columns: repeat(8, 11vmin);
				grid-template-rows: repeat(3, 26vmin);
				grid-template-areas:
				"top"
				"middle"
				"bottom";
			}

			// *****
			// Grid Columns
			// *****
			.column {
				position: relative;


				&.top {
					grid-area: top;

					&:nth-of-type(1) {
						grid-column: 2 / span 2;
					}
					&:nth-of-type(2) {
						grid-column: 4 / span 2;
					}
					&:nth-of-type(3) {
						grid-column: 6 / span 2;
					}
					&:nth-of-type(4) {
						grid-column: 8 / span 2;
					}

					@include screen-format(tablet) {
						&:nth-of-type(1) {
							grid-column: 2 / span 2;
						}
						&:nth-of-type(2) {
							grid-column: 4 / span 2;
						}
						&:nth-of-type(3) {
							grid-column: 6 / span 2;
						}
					}

					@include screen-format(phone) {
						&:nth-of-type(1) {
							grid-column: 2 / span 2;
						}
						&:nth-of-type(2) {
							grid-column: 4 / span 2;
						}
						&:nth-of-type(3) {
							grid-column: 6 / span 2;
						}
					}

					@include screen-format(nano) {
						&:nth-of-type(1) {
							grid-column: 2 / span 2;
						}
						&:nth-of-type(2) {
							grid-column: 4 / span 2;
						}
						&:nth-of-type(3) {
							grid-column: 6 / span 2;
						}
					}
				}

				&.bottom {
					grid-area: bottom;

					&:nth-of-type(5) {
						grid-column: 1 / span 2;
					}
					&:nth-of-type(6) {
						grid-column: 3 / span 2;
					}
					&:nth-of-type(8) {
						grid-column: 5 / span 2;
					}
					&:nth-of-type(9) {
						grid-column: 7 / span 2;
					}
					&:nth-of-type(10) {
						grid-column: 9 / span 2;
					}


					.hexes {
						top: -25%;


						@include screen-format(tablet) {
							top: -50%;
						}

						@include screen-format(phone) {
							top: -50%;
						}

						@include screen-format(nano) {
							top: -50%;
						}
					}

					@include screen-format(tablet) {
						&:nth-of-type(8) {
							grid-column: 2 / span 2;
						}
						&:nth-of-type(9) {
							grid-column: 4 / span 2;
						}
						&:nth-of-type(10) {
							grid-column: 6 / span 2;
						}
					}

					@include screen-format(phone) {
						&:nth-of-type(8) {
							grid-column: 2 / span 2;
						}
						&:nth-of-type(9) {
							grid-column: 4 / span 2;
						}
						&:nth-of-type(10) {
							grid-column: 6 / span 2;
						}
					}

					@include screen-format(nano) {
						&:nth-of-type(8) {
							grid-column: 2 / span 2;
						}
						&:nth-of-type(9) {
							grid-column: 4 / span 2;
						}
						&:nth-of-type(10) {
							grid-column: 6 / span 2;
						}
					}

					&.middle.extra {
						display: none;
					}
				}

				@include screen-format(tablet) {
					&.top.middle,
					&.bottom.middle,
					&.bottom.middle.extra {
						display: block;
						grid-area: middle;


						&:nth-of-type(4) {
							grid-column: 1 / span 2;
						}
						&:nth-of-type(5) {
							grid-column: 3 / span 2;
						}
						&:nth-of-type(6) {
							grid-column: 5 / span 2;
						}
						&:nth-of-type(7) {
							grid-column: 7 / span 2;
						}

						.hexes {
							top: -25%;
						}
					}
				}

				@include screen-format(phone) {
					&.top.middle,
					&.bottom.middle,
					&.bottom.middle.extra {
						display: block;
						grid-area: middle;


						&:nth-of-type(4) {
							grid-column: 1 / span 2;
						}
						&:nth-of-type(5) {
							grid-column: 3 / span 2;
						}
						&:nth-of-type(6) {
							grid-column: 5 / span 2;
						}
						&:nth-of-type(7) {
							grid-column: 7 / span 2;
						}

						.hexes {
							top: -25%;
						}
					}
				}

				@include screen-format(nano) {
					&.top.middle,
					&.bottom.middle,
					&.bottom.middle.extra {
						display: block;
						grid-area: middle;


						&:nth-of-type(4) {
							grid-column: 1 / span 2;
						}
						&:nth-of-type(5) {
							grid-column: 3 / span 2;
						}
						&:nth-of-type(6) {
							grid-column: 5 / span 2;
						}
						&:nth-of-type(7) {
							grid-column: 7 / span 2;
						}

						.hexes {
							top: -25%;
						}
					}
				}
			}

			.hexes {
				cursor: pointer;
				position: absolute;
				background-color: $color-secondary;
				z-index: 10;
				-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

				img {
					width: 100%;
				}
			}

			// *****
			// Biography Modal
			// *****
			.bio-modal {
				width: 100%;
				height: 18vmax;
				position: absolute;
				left: 0;
				display: flex;
				opacity: 0;
				-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

				&.open {
					width: 90vw;
					height: 47vmax;
					z-index: 100;
					position: absolute;
					left: -27vw;
					display: flex;
					opacity: 1;
				}


				.headshot,
				.bio-content {
					height: 100%;
					width: 50%;
					z-index: 100;
				}

				.headshot {
					background-color: grey;
				}

				.bio-content {
					background-color: green;
				}

			}
		}
	}


	&.hiring {

		.content-wrapper {
			width: 60%;
			margin: 0 auto;

			h2 {
				text-align: center;
			}
		}

		.three-grid {
			padding: 50px 0;
			grid-template-columns: repeat(3, 50vmin);
			grid-template-rows: 45vmin;
			justify-content: space-evenly;
			align-content: space-evenly;

			@include screen-format(tablet) {
				min-height: 75vh;
				grid-template-columns: repeat(3, 45vmin);
				grid-template-rows: 40vmin;
			}

			@include screen-format(phone) {
				min-height: 75vh;
				grid-template-columns: 85vmin;
				grid-template-rows: repeat(3, 45vmin);
				grid-row-gap: 1rem;
			}

			@include screen-format(nano){
				min-height: 75vh;
				grid-template-columns: 85vmin;
				grid-template-rows: repeat(3, 65vmin);
				grid-row-gap: 1rem;
			}

			div {
				padding: 48px 40px;
				background-color: $color-text-body-on-dark;
				display: flex;
				flex-flow: column nowrap;
				justify-content: flex-start;

				@include screen-format(tablet) {
					padding: 35px 30px;
				}
				@include screen-format(phone) {
					padding: 35px 30px;
					justify-content: center;
				}
				@include screen-format(nano) {
					padding: 35px 30px;
					justify-content: center;
				}

				h3 {
					font-weight: 900;
					font-size: 0.8125rem;
					line-height: 0.9375rem;
					text-transform: uppercase;
				}

				p {
					font-size: 0.875rem;
					line-height: 1.438rem;
				}
			}
		}
	}

	&.swiper-container {
		background-color: $color-page-background-dark;
	}
}
