section.blog {
	margin-top: $height-top-bar;
	text-align: center;
	background-color: $color-page-background;
	position: relative;

	h1 {
		line-height: 1;
		padding-top: 1rem;
	}

	.blog-grid {
		padding: 30px 0;
		display: grid;
		grid-template-columns: repeat(2, minmax(min-content, auto));
		grid-auto-rows: minmax(min-content, auto);
		grid-gap: 3rem;
		justify-content: space-evenly;
		padding: 2rem;

		@include screen-format(phone) {
			grid-template-columns: 90vmin;
		}

		@include screen-format(nano) {
			grid-template-columns: 90vmin;
		}

		.post {
			text-align: left;

			.date {
				color: $color-secondary;
				font-size: 0.6875rem;
				line-height: 0.6875rem;
				font-weight: 900;
				text-transform: uppercase;
				font-family: $sans-serif;
			}

			a h2{
				font-size: 1.2rem;
				line-height: 1.5rem;
				font-weight: 900;
				color: $color-primary;
				margin: 0 0 20px;
				min-height: 75px;
			}

			img {
				display: block;
				margin-bottom: 5px;
			}

			.byline {
				font-size: 0.825rem;
				font-family: $sans-serif;
				color: $color-tertiary;
				font-style: italic;
			}
		}
	}
}
