.contact {

	&.map {
		background-color: $color-page-background;
	}

	.map {
		position: relative;
		overflow: hidden;
		height: 65%;
		width: 100%;

		iframe {
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			position: absolute;
		}
	}

	&.form {
		background-color: $color-page-background-dark;

		.content {
			color: $color-text-body-on-dark;
		}

		form {

			ol {
				display: flex;
				flex-flow: column nowrap;

				li {
					width: 100%;
					color: $color-text-body-on-dark;
					height: 10vh;
					position: relative;

					&.starting-line .empty-row {
						top: 0;
						height: 60px;
					}

					.empty-row {
						position: absolute;
						border-left: 1px solid $color-line;
						height: 74px;
						top: 53px;
						left: 22px;
						box-sizing: border-box;

						&.finish-line {
							height: 75px;
						}
					}

					&:not(.starting-line) {
						height: 150px;
						display: flex;
						flex-flow: row nowrap;
						width: 100%;

						.form-number {
							width: 20%;
							position: absolute;
							display: flex;
							flex-flow: column nowrap;

							.form-number-row {
								display: flex;
								flex-flow: row nowrap;
								text-align: center;
								height: 63.64px;
								box-sizing: border-box;

								.number-outer-box {
									width: 45px;
									height: 45px;
									border-top: solid 1px $color-line;
									border-right: solid 1px $color-line;
									border-bottom: none;
									border-left: none;
									@include transform(rotate(45deg));
									box-sizing: border-box;
									position: absolute;
									top: 0;
									left: 0;


									.number-inner-box {
										background-color: $color-primary;
										padding: 10px 0;
										height: 100%;
										height: 100%;
										font-family: sans-serif;
										font-size: 0.8rem;
										@include transform(rotate(-45deg));
										-webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
										clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
										box-sizing: border-box;
									}
								}
								.empty-number-column {
									//width: 60%;
									//border: dotted 1px orange;

								}
							}
						}


						.form-border {
							display: flex;
							flex-flow: column nowrap;
							width: 80%;
							margin-left: 20%;

							label {
								margin: 0;
								color: $color-text-body-on-dark;
							}

							input,
							textarea {
								color: $color-text-body-on-dark;
								border: solid 1px $color-text-body-on-dark;
							}
						}
					}
				}
			}
		}
	}
}
