footer {

	.email-form {
		text-align: center;
		background-color: $color-page-background;
		color: $color-text-body;
		display: grid;
		align-items: center;
		justify-content: center;
		align-content: center;
		grid-template-columns: 90%;
		grid-template-rows: minmax(min-content, 50px) minmax(min-content, 50px) minmax(100px, 1fr);
		grid-template-areas:
			"first"
			"second"
			"third";
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.menu {
		background: $color-primary url('../img/footer-background.png') repeat 0 0;
		color: $color-text-body-on-dark;
		padding: 10px;
		box-sizing: border-box;

		.border {
			border: solid 1px $color-text-body-on-dark;
		}

		.action-call {
			margin: 75px 0;
			display: grid;
			justify-content: end;
			grid-template-columns: 40% 15% 40%;
			grid-template-areas:
				"left"
				"center"
				"right";

				@include screen-format(phone) {
					justify-content: center;
					grid-template-columns: 90%;
					grid-template-areas:
						"left";
				}

				@include screen-format(nano) {
					justify-content: center;
					grid-template-columns: 90%;
					grid-template-areas:
						"left";
				}

			.left {
				grid-area: "left";
			}

			.right {
				grid-area: "right";
				display: grid;
				grid-template-columns: 100%;
				grid-template-rows: 50% 50%;
				grid-template-areas:
					"top"
					"bottom";

				@include screen-format(phone) {
					display: none;
				}

				@include screen-format(nano) {
					display: none;
				}

				.top {
					grid-area: top;
					border-width: 0 0 0 1px;
					border-color: $color-text-body-on-dark;
					border-style: solid;
				}

				.bottom {
					grid-area: bottom;
					border-width: 1px 0 0 1px;
					border-color: $color-text-body-on-dark;
					border-style: solid;
				}
			}
		}

		.contact {
			display: grid;
			justify-content: center;
			grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
			grid-template-rows: minmax(max-content, 250px);
			grid-template-areas:
				"first second third fourth";

			@include screen-format(phone) {
				grid-template-columns: 90%;
				grid-template-rows: 30% 30% 30% 30%;
				grid-template-areas:
					"first"
					"second"
					"thrid"
					"fourth";
			}

			@include screen-format(nano) {
				grid-template-columns: 90%;
				grid-template-rows: 30% 30% 30% 30%;
				grid-template-areas:
					"first"
					"second"
					"third"
					"fourth";
			}

			div {
				padding: 25px 15px;

				span {
					margin-bottom: 4%;
					display: block;

					i {
						margin-right: 2%;
					}
				}

				a {
					color: $color-text-body-on-dark;
				}
			}

			.first {
				text-align: center;
				grid-area: first;
			}

			.second {
				text-align: center;
				grid-area: second;
			}

			.third {
				text-align: center;
				grid-area: third;
			}

			.fourth {
				text-align: center;
				grid-area: fourth;
			}
		}
	}
}
