@import '../variables';

.homepage {
	color: $color-text-body-on-dark;

	&.header.award-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;

		.ribbon {
			width: 51vmin;
			height: 12.5vmin;
			top: 6.25vmin;
			position: absolute;
			background-color: $color-secondary;
			-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
			clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
		}

		.badge {
			height: 25vmin;
			width: 23vmin;
			position: absolute;
			top: 0;
			left: 14vmin;
			background: url('../img/software_developers_atlanta_2017.png') center no-repeat;
			background-size: cover;



			-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		}
	}

	&.header.grid-wrapper {
		min-height: 100vmin - $height-top-bar;
		justify-content: center;
		position: relative;
		margin: $height-top-bar 0 30px 0;
		display: grid;
		align-items: center;
		grid-template-columns: repeat(2, 40%);
		grid-template-rows: 100vh;
		grid-template-areas:
			"title sidebar";

			@include screen-format(tablet) {
				grid-template-columns: 90%;
				grid-template-rows: repeat(2, minmax(max-content, min-content));
				align-content: center;
				grid-template-areas:
					"title"
					"sidebar";
			}

			@include screen-format(phone) {
				grid-template-columns: 90%;
				grid-template-rows: repeat(2, minmax(max-content, min-content));
				grid-template-areas:
					"title"
					"sidebar";

				h1 {
					font-size: 3.5rem;
				}
			}

			@include screen-format(nano) {
				grid-template-columns: 90%;
				grid-template-rows: repeat(2, minmax(min-content, auto));
				grid-template-areas:
					"title"
					"sidebar";

				h1 {
					font-size: 3.2rem;
				}
			}

		.title {
			grid-area: title;
			padding: 3vmin 0;

			.award {
				margin: 0 5px 20px;
				width: 71%;
				font-family: $sans-serif;
				font-weight: 100;
				border: solid 0.05rem $color-text-body-on-dark;
				border-radius: 10px 0;
				padding: 2vmin 1vmin;
				display: block;
				color: $color-text-body-on-dark;
			}

			.button-wrapper {
				display: flex;
				flex-flow: row wrap;

				a {
					margin: 0 5px;
				}
			}
		}

		.sidebar {
			grid-area: sidebar;
			height: 100%;
			display: grid;
			align-content: space-evenly;
			grid-row-gap: 3vh;
			grid-template-rows: repeat(3, 20vmin);
			grid-template-areas:
				"first"
				"second"
				"third";


			@include screen-format(phone) {
				grid-template-columns: 100%;
				grid-template-rows: repeat(3, 25vmin);
			}

			@include screen-format(nano) {
				grid-template-columns: 100%;
				grid-template-rows: repeat(3, 35vmin);
			}

			.service {
				border-left: 4px solid rgba($color-text-body-on-dark, 0.25);
				padding: 0 0 3px 25px;

				h3 {
					margin: 0 0 3px 0;
					font-size: 1.125rem;
					line-height: 2rem;
					font-weight: 900;
					text-transform: none;
				}

				p {
					font-size: 0.875rem;
					line-height: 1.5rem;

					a {
						margin: 0 0 0 5px;
						font-family: 'Libre Franklin', helvetica, arial, sans-serif;
						text-transform: uppercase;
						font-size: 0.625rem;
						line-height: 1.5rem;
						font-weight: 1.5rem;
						text-decoration: underline;
						color: $color-text-body-on-dark;
					}
				}

				&:nth-child(1) {
					grid-area: first;
				}
				&:nth-child(2) {
					grid-area: second;
				}
				&:nth-child(3) {
					grid-area: third;
				}
			}
		}
	}

	// Homepage Services Four Grid
	> .four-grid {

		div {
			background-color: $color-page-background;
			color: $color-text-body;
			text-align: justify;
			line-height: 1;
			font-size: 0.875rem;

			// @include screen-format (tablet) {
			// 	padding: 0 3vmin;
			// 	margin: 5vmin 0;
			// }
			//
			// @include screen-format (phone) {
			// 	padding: 0 3vmin;
			// 	margin: 5vmin 0;
			// }
			//
			// @include screen-format (nano) {
			// 	padding: 0 3vmin;
			// 	margin: 5vmin 0;
			// }

			img,
			h3,
			p {
				margin: 2vmin 0;
			}

			h3 {
				font-family: $sans-serif;
				font-weight: 900;
				font-size: 1.063rem;
				line-height: 1.438rem;
				text-align: left;
				//margin-top: 15px;
			}

			p {
				text-align: justify;
			}
		}
	}

	// Homepage Three Grid
	&.three-grid {
		background-color: $color-page-background;
		color: $color-text-body;

		.left,
		.center,
		.right {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			img {
				margin: 0 0 20px 0;
			}
			p {
				line-height: 1.5;
				min-height: 175px;
			}

			.left {
				grid-area: left;
			}

			.center {
				grid-area: center;
			}

			.right {
				grid-area: right;
			}
		}
	}

	&.two-grid {
		background-color: $color-page-background;
		color: $color-text-body;

		.left {
			grid-area: left;
			margin: 25px 0;
		}

		.right {
			grid-area: right;
		}
	}

	// Most recent posts
	&.post-grid {
		grid-column-gap: 0;
		padding: 50px 0;

		.post {
			position: relative;
			padding: 103px 1.5% 72px 6.5%;
			border: solid 1px $color-text-body;
			border-left: none;
			border-right: none;
			min-height: 350px;

			@include screen-format(tablet) {
				padding-bottom: 15px;
				min-height: 475px;
			}

			@include screen-format(phone) {
				padding-bottom: 15px;
				border: none;
			}

			@include screen-format(nano) {
				padding-bottom: 15px;
				border: none;
			}

			&.right {
				border-color: $color-text-body;
				border-left: 1px solid $color-text-body;

				@include screen-format(phone) {
					border: none;
				}

				@include screen-format(nano) {
					border: none;
				}
			}

			.banner {
				padding: 0 10px;
				background: #332520;
				color: $color-text-header-on-dark;
				font-family: 'Antonio';
				font-weight: bold;
				font-size: 1.5rem;
				line-height: 1.815rem;
				text-transform: uppercase;
				position: absolute;
				left: -5px;
				top: 35px;
				transform: skew(0, -4.3deg);
				-moz-transform: skew(0, -4.3deg);
				-ms-transform: skew(0, -4.3deg);
				-webkit-transform: skew(0, -4.3deg);
			}

			img {
				display: none;
			}
		}
	}

	&.whitepaper {
		background-color: $color-page-background;
		display: grid;
		align-items: center;
		justify-content: center;
		justify-items: center;
		grid-template-columns: 30% 60%;
		grid-column-gap: 1%;
		grid-template-rows: minmax(55vmin, max-content);
		grid-template-areas:
			"left right";

		@include screen-format(tablet) {
			grid-template-rows: minmax(75vmin, max-content);
		}

		@include screen-format(phone) {
			grid-template-columns: 90%;
			grid-row-gap: 1%;
			grid-template-rows: repeat(2, minmax(45vmin, max-content));
			grid-template-areas:
				"left"
				"right";
		}

		@include screen-format(nano) {
			grid-template-columns: 90%;
			grid-row-gap: 1%;
			grid-template-areas:
				"left"
				"right";
		}

		.left {
			grid-area: left;

			h2 {
				margin-left: 0;
				font-family: $sans-serif;
				font-size: 2.813rem;
				line-height: 3.125rem;
				font-weight: 100;
				text-transform: uppercase;
				letter-spacing: 0.0625rem;
				color: #332520;
				text-shadow: $color-secondary 4px 4px 0;
			}

			p {
				font-family: $sans-serif;
				font-size: 1rem;
				line-height: 1.563rem;
				font-style: italic;
				color: #ababab;
				width: 71%;
			}
		}

		.right{
			grid-area: right;

			p {
				color: $color-text-body;
				position: relative;
				line-height: 1.5rem;
				margin: 5vmin 0;

				span {
					display: block;
					margin: 18px 9px 0 0;
					font-size: 2.625rem;
					font-weight: 900;
					color: $color-secondary;
					position: relative;
					float: left;
					z-index: 5;

					&:before {
						display: block;
						content: url('../img/fancy-text-background.png');
						position: absolute;
						top: -10px;
					}

					&:after {
						display: block;
						content: 'S';
						color: transparent;
						-webkit-text-stroke: 2px #343434;
						position: absolute;
						left: 3px;
						top: 4px;
						z-index: 0;
					}
				}
			}
		}
	}
}
