.services {
	color: $color-text-body-on-dark;

	&.consulting {
		background-color: $color-page-background;
		color: $color-text-body;
		text-align: center;

		.four-grid {
			//grid-template-columns: 22.5% 22.5% 22.5% 22.5%;
			grid-template-columns: repeat(4, 22.5%);
			grid-template-rows: minmax(90%, max-content);
			padding-bottom: 5vh;

			@include screen-format(tablet) {
				grid-template-columns: repeat(2, 45%);
				grid-template-rows: repeat(2, 500px);
				grid-row-gap: 2vmin;
			}

			@include screen-format(phone) {
				grid-template-columns: 90%;
				grid-template-rows: repeat(4, minmax(min-content, auto));
				grid-row-gap: 2vmin;
			}

			@include screen-format(nano) {
				grid-template-columns: 90%;
				grid-template-rows: repeat(4, minmax(min-content, auto));
				grid-row-gap: 2vmin;
			}

			div {
				background-color: $color-text-header-on-dark;
				font-size: 0.875rem;
				line-height: 1.438rem;

				img,
				h3,
				p {
					margin: 2vmin 0;
				}

				h3 {
					font-family: $sans-serif;
					font-weight: 900;
					font-size: 1.063rem;
					line-height: 1.438rem;
					text-align: left;
					margin-top: 15px;
				}

				p {
					text-align: justify;
				}
			}
		}
	}

	&.blockquote {

		blockquote {
			margin-bottom: 20px;
		}

		a button {
			margin: 0 auto 75px;
		}
	}

	&.partner {
		background-color: $color-page-background;
		color: $color-text-body;
		text-align: center;

		h2 {

			@include screen-format(phone) {
				width: 85%;
				margin: 10px auto;
			}

			@include screen-format(nano) {
				width: 85%;
				margin: 10px auto;
			}
		}

		.three-by-two-grid {
			grid-template-columns: 30% 30% 30%;
			grid-template-rows: 310px 310px;
			grid-row-gap: 2rem;
			padding: 5vmin 0;

			@include screen-format(tablet) {
				grid-template-columns: 45% 45%;
				grid-template-rows: 310px 310px 310px;
			}

			@include screen-format(phone) {
				grid-template-columns: 90%;
				grid-template-rows: 250px 250px 250px 250px 250px 250px;
			}

			@include screen-format(nano) {
				grid-template-columns: 90%;
				grid-template-rows: 250px 250px 250px 250px 250px 250px;
			}

			div {
				padding: 48px 40px;

				h3 {
					font-size: 0.8125rem;
					line-height: 0.9375rem;
					text-transform: uppercase;;
					text-align: left;
					font-weight: 900;
				}

				p {
					font-size: 0.875rem;
					line-height: 1.438rem;
					text-align: left;
				}
			}
		}
	}
}
