.header {
	min-height: 100vmin - $height-top-bar;
	justify-content: center;
	position: relative;
	margin: $height-top-bar 0 30px 0;

	&.tagline {
		display: flex;
		flex-flow: column nowrap;
		text-align: center;
		align-items: center;
		justify-content: center;

		h1 {
			width: 75vw;
			color: $color-text-header-on-dark;
			font-weight: 100;
			font-size: 3.125rem;
			line-height: 4.375rem;

			span {
				font-style: italic;
				letter-spacing: 0;
				background: transparent url('../img/fancy-underline.png') repeat-x left bottom;

				b {
					font-weight: 700;
				}
			}
		}
	}
}
