.work {

	&.backgrounds {
		background-color: $color-page-background;

		h2 {
			text-align: center;
		}

		.three-grid {

			div {
				padding: 40px 60px;
				text-align: center;

				h3 {
					font-size: 0.8125rem;
					line-height: 0.9375rem;
					text-transform: uppercase;
					text-align: left;
					margin: 10px 0;
				}

				p {
					font-size: 0.93rem;
					line-height: 1.438rem;
					text-align: justify;
				}
			}
		}
	}

	&.examples {
		background-color: rgba( $color-top-bar-background, 0.3);

		.examples-grid {
			padding: 45px 0;
			display: grid;
			grid-template-columns: repeat(2, 85vmin);
			grid-auto-rows: 55vmin;
			grid-gap: 3rem;
			justify-content: space-evenly;

			@include screen-format(laptop) {
				grid-template-columns: repeat(2, 60vmin);
				grid-auto-rows: 40vmin;
			}

			@include screen-format(tablet) {
				grid-template-columns: repeat(2, 43vmin);
				grid-auto-rows: 27;
			}

			@include screen-format(phone) {
				grid-template-columns: 85vmin;
				grid-auto-rows: 40vmin;
			}

			@include screen-format(nano) {
				grid-template-columns: 85vmin;
				grid-auto-rows: 45vmin;
			}


			.box {
				border: solid 3px $color-page-background;
				display: flex;
				flex-flow: column nowrap;
				justify-content: space-evenly;
				align-items: center;
				background: transparent;
				position: relative;
				transition: all 0.75s;
				overflow: hidden;

				.background-image {
					position: absolute;
					transition: all 0.75s;
					z-index: 1;
					img {
						opacity: 0;
						transition: all 0.75s;
						z-index: 0;
						object-fit: cover;
					}
				}

				&:hover {
					.background-image{
						background-color: $color-top-bar-background;
						img {
							opacity: 0.5;
						}
					}
				}

				.logo {
					z-index: 5;
				}

				.brand-info {
					color: $color-text-body-on-dark;
					text-align: center;
					z-index: 5;

					h4 {
						margin: 0;
						font-size: 1.5rem;
						line-height: 2rem;
						font-weight: 900;
					}

					span {
						text-transform: uppercase;
						font-family: $sans-serif;
						font-size: 0.875rem;
						line-height: 1.438rem;
					}
				}
			}
		}
	}
}
